<a id="all-apps-link" href="{{tenantedUrl "/assets/webapp"}}" class="{{#if active}}active{{/if}} blue">
    <span class="icon"><i class="fw fw-resource"></i></span>
    <span class="navigation-item hidden-xs hidden-sm">{{t "All Apps"}}</span>
</a>