<input type="hidden" name="tenant-store" id="user-tenant-id" value="{{user.tenantId}}">
<input type="hidden" name="tenant-store" id="user-name" value="{{user.username}}">
<a id="my-favorites-link" href="{{tenantedUrl "/assets/favouriteapps"}}" class="{{#if active}}active{{/if}} red">
    <span class="icon"><i class="fw fw-heart"></i></span>
    <span class="navigation-item hidden-xs hidden-sm">{{t "My Favorites"}}</span>
</a>