<div class="hover-overlay">
    <span class="fw-stack fw-2x absolute-center">
        <i class="fw fw-circle-outline fw-stack-2x"></i>
        <i class="fw fw-cancel fw-stack-1x"></i>
    </span>
</div>