<div class="hover-overlay" style="height: 20%;">
    <span class="fw-stack fw-2x absolute-center">
        <i class="fw fw-circle-outline fw-stack-2x"></i>
        <i class="fw fw-deploy fw-stack-1x"></i>
    </span>
</div>