<div class="no-apps">
        {{#if searchQuery.search}}
            <div class="jumbotron" id="no-apps-search-jumbotron">
                <h2>
                    <span class="add-padding-right-1x"><i class="fw fw-info"></i></span> Your search did not return any apps!
                </h2>
            </div>
        {{else}}
            <div class="jumbotron" id="no-apps-default-jumbotron">
                <h2>
                    <span class="add-padding-right-1x"><i class="fw fw-info"></i></span> You do not have any favorite apps!
                </h2>
            </div>
        {{/if}}
</div>