<div class="no-apps">
        {{#if searchQuery.search}}
            <div class="jumbotron" id="no-apps-search-jumbotron">
                <h2>
                    <span class="fw fw-warning"></span> Sorry, We could not find any app for your search!
                </h2>
                <p class="lead add-padding-top-3x text-muted">Your search filter was, "{{searchQuery.search}}". What can I do now?.<p>
            </div>
        {{else}}
            <div class="jumbotron" id="no-apps-default-jumbotron">
                <h2>
                    <span class="fw fw-warning"></span> You don't have any favourite apps
                </h2>
            </div>
        {{/if}}
</div>