{{!-- page content - home page apps --}}
{{#each assetTypes}}

    {{#if assets}}

        <div class="row page-title">
            <div class="container-fluid">
                <div class="title">{{plural}}</div>
                <!--title-->
                {{#if seeMoreUrl}}
                    <div class="float-right"><a class="more" href="{{tenantedUrl seeMoreUrl}}">See More</a></div>
                {{/if}}
            </div>
        </div>
        {{#ifCond type "==" "mobileapp"}}
            {{> page-content-home/mobileapp}}
        {{else}}
            {{#if ../../../subscriptionOn}}
                {{> page-content-home/subscription-on}}
            {{else}}
                {{> page-content-home/subscription-off}}
            {{/if}}
        {{/ifCond}}


    {{/if}}
{{/each}}

