{{!-- search --}}
{{#if searchUrl}}
                <div class="search-box col-xs-12 col-sm-12 col-md-6 col-lg-4 col-md-offset-4">
                    <div class="input-group input-wrap search-wrap">
                        <input type="hidden" value="{{tenantedUrl searchUrl}}" id="searchUrl">
                        <input type="text" id="searchTxt" value="{{searchQuery.search}}"
                               class="search-field form-control"
                               placeholder="Search for Applications" />

                        <div class="input-group-btn">

                            <button type="button" id="searchSelect" class="btn dropdown-toggle search-by"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                                {{#compare "overview_provider" searchQuery.searchTerm}}value="Provider"{{/compare}}

                                {{#compare "overview_displayName" searchQuery.searchTerm}}value="Name"{{/compare}}>
                                {{#compare "overview_provider" searchQuery.searchTerm}}By Provider{{/compare}}

                                {{#compare "overview_displayName" searchQuery.searchTerm}}By Name{{/compare}}
                                <span class="caret"></span>
                            </button>

                            <ul id="searchBy"
                                class="dropdown-menu dropdown-menu-right dropdown-selectable search-by-dropdown"
                                data-target="#searchSelect">
                                <li data-value="Name"><a>By Name</a></li>
                                <li data-value="Provider"><a>By App Owner</a></li>
                            </ul>
                            <button type="button" class="btn" id="searchBtn">
                                <i class="fw fw-search"></i>
                            </button>

                        </div>
                    </div>
                    <!-- /input-group -->
                </div>
{{/if}}