.app-assets{

    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.1);
}

.app-assets-wrapper{
    padding-top: 30px;
}

.app-assets-icon{
    width: 100%;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:10px;
    margin-bottom: 5px;
}

.app-assets-icon:hover{
    background: #f1f1f1;
}

.app-assets-icon-info-platform{
    width:36px;
}

.app-assets-info{
    text-align: center;
}

.app-assets-icon-info{
    text-align: center;
    padding-bottom: 5px;
}

.app-assets-name{
   font-weight: bold;
}

.app-assets-provider{
    margin-bottom: 5px;
    font-size: small;
}

.app-assets-rating {
    background: url('../img/store-stars.png') no-repeat top left;
    display: block;
    height: 20px;
    width: 100px;
    margin: auto;
    padding-left: 5px;

    margin-bottom: 10px;
    clear: both;
}


.app-asset-title{
    padding-top: 5px;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

.app-asset-provider{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.app-asset-icon{
   text-align: center;
}

.app-asset-buttons{
    text-align: center;
}

.btn-add-gadget{
    width: 100%;
    margin: 2px;
}

.btn-add-gadget-install{
    width: 100%;
    margin: 2px;
}

.app-asset-description-section{
    padding-top: 30px;
    padding-left: 30px;
}

.app-asset-screenshot{
  
}

.asset-reinstall-btn, .asset-unsubscribe-btn, .asset-reinstall-btn-direct, .asset-myapps-btn{
    margin-left: 20%;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}


.recent-app-assets-name{
    font-weight: bold;
}

.recent-app-assets-rating {
    background: url('../img/store-stars.png') no-repeat top left;
    display: block;
    height: 20px;
    width: 100px;
    clear: both;
}

.modal-backdrop {
    z-index: 0;
}

.modal-dialog {
    position:absolute;
    top:50% !important;
    transform: translate(0, -50%) !important;
    -ms-transform: translate(0, -50%) !important;
    -webkit-transform: translate(0, -50%) !important;
    margin:auto 10%;
    width:80%;
    height:80%;

}

.modal-dialog-devices {
    position:absolute;
    top:50% !important;
    transform: translate(0, -50%) !important;
    -ms-transform: translate(0, -50%) !important;
    -webkit-transform: translate(0, -50%) !important;
    margin:auto 20%;
    width:60%;
    height:50%;
}


.modal-content {
    min-height:100%;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.modal-footer {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
}






/* carousel */
.media-carousel
{
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
    margin-top: 30px;
}
/* Previous button  */
.media-carousel .carousel-control.left
{
    left: -12px;
    background-image: none;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    height: 40px;
    width : 40px;
    margin-top: 30px
}
/* Next button  */
.media-carousel .carousel-control.right
{
    right: -12px !important;
    background-image: none;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    height: 40px;
    width : 40px;
    margin-top: 30px
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators
{
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li
{
    background: #c0c0c0;
}
.media-carousel .carousel-indicators .active
{
    background: #333333;
}
.media-carousel img
{
    min-width: 100px;

}
/* End carousel */


.fw-1_5x {
    font-size: 1.2em;
}

.fw-background-gray {
    background: #888;
    border-radius: .3em;
    padding: .4em .50em .45em;
}

.fw-background-green {
    background: #A4C639;
    border-radius: .3em;
    padding: .4em .50em .45em;
}

.fw-background-blue {
    background: #2196F3;
    border-radius: .3em;
    padding: .4em .50em .45em;
}


.fw-background-black {
    background: #000000;
    border-radius: .3em;
    padding: .4em .50em .45em;
}



