.app-assets{

    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.1);
}

.app-assets-wrapper{
    padding-top: 30px;
}

.app-assets-icon{
    width: 100%;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:10px;
    margin-bottom: 5px;
}

.app-assets-icon:hover{
    background: #f1f1f1;
}

.app-assets-icon-info-platform{
    width:36px;
}

.app-assets-info{
    text-align: center;
}

.app-assets-icon-info{
    text-align: center;
    padding-bottom: 5px;
}

.app-assets-name{
   font-weight: bold;
}

.app-assets-provider{
    margin-bottom: 5px;
    font-size: small;
}

.app-assets-rating {
    background: url('../img/store-stars.png') no-repeat top left;
    display: block;
    height: 20px;
    width: 100px;
    margin: auto;
    padding-left: 5px;

    margin-bottom: 10px;
    clear: both;
}


.app-asset-title{
    padding-top: 5px;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

.app-asset-provider{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.app-asset-icon{
   text-align: center;
}

.app-asset-buttons{
    text-align: center;
}

.btn-add-gadget{
    width: 100%;
    margin: 2px;
}

.app-asset-description-section{
    padding-top: 30px;
    padding-left: 30px;
}

.app-asset-screenshot{
  
}