{
    "swagger": "2.0",
    "info": {
        "version": "1.1.0",
        "title": "WSO2 APP Manager - Publisher API",
        "description": "This document specifies a **RESTful API** for **WSO2 APP Manager - Publisher**.\n\n\n\n\nIt is written with [swagger 2](http://swagger.io/).\n",
        "contact": {
            "name": "WSO2",
            "url": "http://wso2.com/products/app-manager/",
            "email": "architecture@wso2.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        }
    },
    "schemes": [
        "http"
    ],
    "host": "apis.wso2.com",
    "basePath": "/api/appm/publisher/v1.1",
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "x-wso2-security": {
        "appm": {
            "x-wso2-scopes": [
                {
                    "description": "",
                    "roles": "admin",
                    "name": "appm:read",
                    "key": "appm:read"
                },
                {
                    "description": "",
                    "roles": "admin",
                    "name": "appm:create",
                    "key": "appm:create"
                },
                {
                    "description": "",
                    "roles": "admin",
                    "name": "appm:update",
                    "key": "appm:update"
                },
                {
                    "description": "",
                    "roles": "admin",
                    "name": "appm:administration",
                    "key": "appm:administration"
                },
                {
                    "description": "",
                    "roles": "admin",
                    "name": "appm:publish",
                    "key": "appm:publish"
                }
            ]
        }
    },
    "paths": {
        "/apps/{appType}": {
            "get": {
                "x-scope": "appm:read",
                "x-wso2-curl": "curl -X GET -H \"Authorization: Bearer f126676fc6fc2d2d7828220c992c9b15\" \"http://localhost:9763/api/appm/publisher/v1.1/apps/webapp\"",
                "x-wso2-response": "{\"previous\":\"\",\"next\":\"\",\"count\":2,\"appList\":[{\"name\":\"app1\",\"context\":null,\"id\":\"af929140-1257-46ed-97c0-d26098e140e9\",\"rating\":0.0,\"lifecycleState\":\"IN-REVIEW\",\"provider\":\"admin\",\"description\":\"asdasd\",\"version\":\"1\"},{\"name\":\"app2\",\"context\":null,\"id\":\"5c9c8551-d696-4c44-85a6-dcd86f1a1e25\",\"rating\":0.0,\"lifecycleState\":\"CREATED\",\"provider\":\"admin\",\"description\":\"phone\",\"version\":\"1.0\"}]}",
                "summary": "Get all Apps",
                "description": "Get a list of available Apps qualifying under a given search condition.\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/appType"
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "description": "A search condition.\n\n\n\n\nYou can search attributes by using an **\"attribute:\"** modifier.\n\n\n\n\nEg. \"provider:wso2\" will match an App if the provider of the App contains \"wso2\".\n\n\n\n\nSupported attribute modifiers are [**provider, app_name, app_version, app_id, business_owner_id**]\n\n\n\n\nIf no advanced attribute modifier has been specified, the search will match the\ngiven query string against the App name.\n",
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/fieldFilter"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/Accept"
                    },
                    {
                        "$ref": "#/parameters/If-None-Match"
                    }
                ],
                "tags": [
                    "Apps"
                ],
                "responses": {
                    "200": {
                        "description": "OK.\nList of qualifying Apps is returned.\n",
                        "schema": {
                            "$ref": "#/definitions/AppList"
                        },
                        "headers": {
                            "Content-Type": {
                                "description": "The content type of the body.",
                                "type": "string"
                            },
                            "ETag": {
                                "description": "Entity Tag of the response resource. Used by caches or in conditional requests.\n",
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request.\nInvalid request or validation error.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Forbidden.\nThe request must be conditional but no condition has been specified.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found.\nThe resource to be updated does not exist.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "post": {
                "x-scope": "appm:create",
                "x-wso2-curl": "curl -v -X POST 'http://localhost:9763/api/appm/publisher/v1.1/apps/mobileapp' -H \"Content-Type: application/json\" -d '{\"appmeta\" :{\"path\" : \"/publisher/api/mobileapp/getfile/D3PdRxvU24WK3EN.apk\", \"package\" : \"home.jmstudios.calc\", \"version\" : \"1.0\"},\"name\":\"sample\",\"provider\":\"admin\",\"platform\":\"android\",\"version\":\"1.0.0\", \"banner\":\"/publisher/api/mobileapp/getfile/9YRDRWqOSvzu31IX.jpg\",\"thumbnailUrl\":\"/publisher/api/mobileapp/getfile/62gKWqOSvzu31IX.jpg\",\"screenshots\":[\"/publisher/api/mobileapp/getfile/62gKWqOSvzu31IX.jpg\"],\"displayName\":\"SampleDisplay\",\"description\":\"sample calculator application\",\"platform\":\"android\",\"category\":\"Business\",”marketType”:”enterprise”}'",
                "x-wso2-request": "{\"appmeta\" :{\"path\" : \"/publisher/api/mobileapp/getfile/D3PdRxvU24WK3EN.apk\", \"package\" : \"home.jmstudios.calc\", \"version\" : \"1.0\"},\"name\":\"sample\",\"provider\":\"admin\",\"platform\":\"android\",\"version\":\"1.0.0\", \"banner\":\"/publisher/api/mobileapp/getfile/9YRDRWqOSvzu31IX.jpg\",\"thumbnailUrl\":\"/publisher/api/mobileapp/getfile/62gKWqOSvzu31IX.jpg\",\"screenshots\":[\"/publisher/api/mobileapp/getfile/62gKWqOSvzu31IX.jpg\"],\"displayName\":\"SampleDisplay\",\"description\":\"sample calculator application\",\"platform\":\"android\",\"category\":\"Business\",”marketType”:”enterprise”}",
                "x-wso2-response": "{\"id\" : \"aff9fb92-7e17-4ce8-8024-a747ff5aea41\"}",
                "summary": "Create a new App",
                "description": "Create a new App\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/appType"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "App object that needs to be added.\n",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/App"
                        }
                    },
                    {
                        "$ref": "#/parameters/Content-Type"
                    },
                    {
                        "$ref": "#/parameters/If-Modified-Since"
                    }
                ],
                "tags": [
                    "Apps"
                ],
                "responses": {
                    "201": {
                        "description": "Created.\nSuccessful response with the newly created object as the entity in the body.\nLocation header contains the URL of the newly created entity.\n",
                        "schema": {
                            "$ref": "#/definitions/App"
                        },
                        "headers": {
                            "Location": {
                                "description": "The URL of the newly created resource.\n",
                                "type": "string"
                            },
                            "Content-Type": {
                                "description": "The content type of the body.\n",
                                "type": "string"
                            },
                            "ETag": {
                                "description": "Entity Tag of the response resource. Used by caches or in conditional request\n",
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request.\nInvalid request or validation error.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "415": {
                        "description": "Unsupported Media Type.\nThe entity of the request was in an unsupported format.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/apps/{appType}/id/{appId}": {
            "get": {
                "x-scope": "appm:read",
                "x-wso2-curl": "curl -X GET -H \"Authorization: Bearer f126676fc6fc2d2d7828220c992c9b15\" \"http://localhost:9763/api/appm/publisher/v1.1/apps/mobileapp/id/af929140-1257-46ed-97c0-d26098e140e9\"",
                "x-wso2-response": "{\"displayName\":null,\"createdTime\":\"00000001461645676735\",\"bundleVersion\":\"1\",\"packageName\":\"undefined\",\"description\":\"asdasd\",\"version\":\"1\",\"category\":\"Business\",\"tags\":[],\"appType\":\"webapp\",\"appName\":\"asd\",\"appUrl\":\"http://wso2.com\",\"banner\":\"/publisher/api/mobileapp/getfile/pduoTTAgbWAuFxm.JPG\",\"marketType\":null,\"recentChanges\":\"-\",\"appProvider\":\"admin\",\"thumbnail\":\"/publisher/api/mobileapp/getfile/J3TM0iKb6OiapuG.JPG\",\"screenShots\":[\"/publisher/api/mobileapp/getfile/zq7kNCpZkfLsxic.JPG\"],\"appId\":null,\"platform\":\"webapp\",\"appVisibility\":null,\"availableLifecycleActions\":null,\"lifecycleStatus\":\"INREVIEW\",\"type\":\"mobileapp\",\"uuid\":\"af929140-1257-46ed-97c0-d26098e140e9\",\"rating\":0.0}",
                "summary": "Get app details",
                "description": "Get details of an app.\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/appType"
                    },
                    {
                        "$ref": "#/parameters/appId"
                    },
                    {
                        "$ref": "#/parameters/Accept"
                    },
                    {
                        "$ref": "#/parameters/If-None-Match"
                    },
                    {
                        "$ref": "#/parameters/If-Modified-Since"
                    }
                ],
                "tags": [
                    "Apps"
                ],
                "responses": {
                    "200": {
                        "description": "OK.\nQualifying App is returned.\n",
                        "schema": {
                            "$ref": "#/definitions/App"
                        },
                        "headers": {
                            "Content-Type": {
                                "description": "The content type of the body.",
                                "type": "string"
                            },
                            "ETag": {
                                "description": "Entity Tag of the response resource. Used by caches or in conditional requests.\n",
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request.\nInvalid request or validation error.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Forbidden.\nThe request must be conditional but no condition has been specified.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found.\nThe resource to be updated does not exist.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "x-scope": "appm:update",
                "x-wso2-curl": "curl -v -X PUT -H \"Content-Type: application/json\" 'http://localhost:9763/api/appm/publisher/v1.1/apps/mobileapp/id/906249f5-529b-41f3-bf18-d95e9403e9f0' -d '{\"appmeta\" :{\"path\" : \"/publisher/api/mobileapp/getfile/D3PdRxvU24WK3EN.apk\", \"package\" : \"home.jmstudios.calc\", \"version\" : \"1.0\"},\"name\":\"sample\",\"provider\":\"admin\",\"platform\":\"android\",\"version\":\"1.0.0\",\"banner\":\"/publisher/api/mobileapp/getfile/nzcYzFxpWpNHlyk.jpg\",\"thumbnailUrl\":\"/publisher/api/mobileapp/getfile/nzcYzFxpWpNHlyk.jpg\",\"screenshots\":[\"/publisher/api/mobileapp/getfile/62gKWqOSvzu31IX.jpg\"],\"displayName\":\"fdyefyeufuegfyugefyue\",\"description\":\"description\",\"platform\":\"android\",\"category\":\"public\"}'",
                "x-wso2-request": "{\"appmeta\" :{\"path\" : \"/publisher/api/mobileapp/getfile/D3PdRxvU24WK3EN.apk\", \"package\" : \"home.jmstudios.calc\", \"version\" : \"1.0\"},\"name\":\"sample\",\"provider\":\"admin\",\"platform\":\"android\",\"version\":\"1.0.0\",\"banner\":\"/publisher/api/mobileapp/getfile/nzcYzFxpWpNHlyk.jpg\",\"thumbnailUrl\":\"/publisher/api/mobileapp/getfile/nzcYzFxpWpNHlyk.jpg\",\"screenshots\":[\"/publisher/api/mobileapp/getfile/62gKWqOSvzu31IX.jpg\"],\"displayName\":\"fdyefyeufuegfyugefyue\",\"description\":\"description\",\"platform\":\"android\",\"category\":\"public\"}",
                "x-wso2-response": "HTTP/1.1 200 OK",
                "summary": "Update an existing App",
                "description": "Update an existing App\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/appType"
                    },
                    {
                        "$ref": "#/parameters/appId"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "App object that needs to be added.\n",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/App"
                        }
                    },
                    {
                        "$ref": "#/parameters/Content-Type"
                    },
                    {
                        "$ref": "#/parameters/If-Match"
                    },
                    {
                        "$ref": "#/parameters/If-Unmodified-Since"
                    }
                ],
                "tags": [
                    "Apps"
                ],
                "responses": {
                    "200": {
                        "description": "OK.\nSuccessful response with updated App object.\n",
                        "schema": {
                            "$ref": "#/definitions/App"
                        },
                        "headers": {
                            "Location": {
                                "description": "The URL of the newly created resource.\n",
                                "type": "string"
                            },
                            "Content-Type": {
                                "description": "The content type of the body.\n",
                                "type": "string"
                            },
                            "ETag": {
                                "description": "Entity Tag of the response resource. Used by caches or in conditional requests.\n",
                                "type": "string"
                            },
                            "Last-Modified": {
                                "description": "Date and time at which the resource was last modifed.\nUsed by caches or in conditional requests.\n",
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request.\nInvalid request or validation error.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Forbidden.\nThe request must be conditional but no condition has been specified.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found.\nThe resource to be updated does not exist.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "412": {
                        "description": "Precondition Failed.\nThe request has not been performed because one of the preconditions is not met.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "delete": {
                "x-scope": "appm:create",
                "x-wso2-curl": "curl -X DELETE -H \"Authorization: Bearer f126676fc6fc2d2d7828220c992c9b15\" \"http://localhost:9763/api/appm/publisher/v1.1/apps/mobileapp/id/af929140-1257-46ed-97c0-d26098e140e9\"",
                "x-wso2-response": "HTTP/1.1 200 OK",
                "summary": "Delete App",
                "description": "Delete an existing App\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/appType"
                    },
                    {
                        "$ref": "#/parameters/appId"
                    },
                    {
                        "$ref": "#/parameters/If-Match"
                    },
                    {
                        "$ref": "#/parameters/If-Unmodified-Since"
                    }
                ],
                "tags": [
                    "Apps"
                ],
                "responses": {
                    "200": {
                        "description": "OK.\nResource successfully deleted.\n"
                    },
                    "403": {
                        "description": "Forbidden.\nThe request must be conditional but no condition has been specified.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found.\nResource to be deleted does not exist.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "412": {
                        "description": "Precondition Failed.\nThe request has not been performed because one of the preconditions is not met.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/apps/{appType}/id/{appId}/tags": {
            "get": {
                "x-scope": "appm:read",
                "x-wso2-curl": "curl -X GET -H \"Authorization: Bearer e099014668a524870c2895fe0595f125\" \"http://localhost:9763/api/appm/store/v1.1/apps/webapp/tags\"",
                "x-wso2-response": "HTTP/1.1 200 OK\nContent-Type: application/json\n {\"tags\":[\"tagA\",\"tagB\",\"tagC\"]}",
                "summary": "Get all Tags of an App",
                "description": "Get a list of available Tags relevant to the given App Internal ID.\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/appType"
                    },
                    {
                        "$ref": "#/parameters/appId"
                    },
                    {
                        "$ref": "#/parameters/Accept"
                    },
                    {
                        "$ref": "#/parameters/If-None-Match"
                    }
                ],
                "tags": [
                    "Tags"
                ],
                "responses": {
                    "200": {
                        "description": "OK.\nList of tags is returned.\n",
                        "schema": {
                            "$ref": "#/definitions/TagList"
                        },
                        "headers": {
                            "Content-Type": {
                                "description": "The content type of the body.",
                                "type": "string"
                            },
                            "ETag": {
                                "description": "Entity Tag of the response resource. Used by caches or in conditional requests.\n",
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request.\nInvalid request or validation error.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Forbidden.\nThe request must be conditional but no condition has been specified.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found.\nThe resource to be updated does not exist.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "x-scope": "appm:create",
                "x-wso2-curl": "curl -X PUT -H \"Authorization: Bearer 4be7890951f36d5c44a68d5a35227ceb\" \n -H \"Content-Type: application/json\" \n -d '{\"tags\":[\"tagA\",\"tagB\",\"tagC\"]}' \"http://localhost:9763/api/appm/publisher/v1.1/apps/webapp/id/00fafc68-d8bb-498f-9ef3-afbb6db06826/tags\"",
                "x-wso2-response": "HTTP/1.1 200 OK",
                "x-wso2-request": "{\"tags\":[\"tagA\",\"tagB\",\"tagC\"]}",
                "summary": "Add a new tag",
                "description": "Add a new tag/tags to the tag collection of a given application type.\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/appType"
                    },
                    {
                        "$ref": "#/parameters/appId"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Tag object that needs to be added.\n",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TagList"
                        }
                    },
                    {
                        "$ref": "#/parameters/Content-Type"
                    },
                    {
                        "$ref": "#/parameters/If-Match"
                    },
                    {
                        "$ref": "#/parameters/If-Unmodified-Since"
                    }
                ],
                "tags": [
                    "Tags"
                ],
                "responses": {
                    "200": {
                        "description": "OK.\n"
                    },
                    "400": {
                        "description": "Bad Request.\nInvalid request or validation error.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Forbidden.\nThe request must be conditional but no condition has been specified.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found.\nThe resource to be updated does not exist.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "412": {
                        "description": "Precondition Failed.\nThe request has not been performed because one of the preconditions is not met.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "delete": {
                "x-scope": "appm:create",
                "x-wso2-curl": "curl -X DELETE -H \"Authorization: Bearer 4be7890951f36d5c44a68d5a35227ceb\" -H \"Content-Type: application/json\" -d '{\"tags\":[\"tag1\",\"tag2\"]}' \"http://localhost:9763/api/appm/publisher/v1.1/apps/webapp/id/95e497dd-ebb0-414f-9718-88857a153780/tags\"",
                "x-wso2-response": "HTTP/1.1 200 OK",
                "summary": "Delete Tags relevant to an App",
                "description": "Delete Tags relevant to an App by AppId.\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/appType"
                    },
                    {
                        "$ref": "#/parameters/appId"
                    },
                    {
                        "$ref": "#/parameters/If-Match"
                    },
                    {
                        "$ref": "#/parameters/If-Unmodified-Since"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Tag object that needs to be added.\n",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TagList"
                        }
                    }
                ],
                "tags": [
                    "Tags"
                ],
                "responses": {
                    "200": {
                        "description": "OK.\nResource successfully deleted.\n"
                    },
                    "403": {
                        "description": "Forbidden.\nThe request must be conditional but no condition has been specified.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found.\nResource to be deleted does not exist.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "412": {
                        "description": "Precondition Failed.\nThe request has not been performed because one of the preconditions is not met.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/apps/{appType}/id/{appId}/subscriptions": {
            "get": {
                "x-scope": "appm:read",
                "x-wso2-curl": "curl -X GET -H \"Authorization: Bearer e099014668a524870c2895fe0595f125\" \"http://localhost:9763/api/appm/publisher/v1.1/apps/webapp/id/299a478a-0df3-488d-8677-8644f8255222/subscriptions\"",
                "x-wso2-response": "{\"userIds\":[\"admin\",\"user1\",\"user2\"]}",
                "summary": "Get subscribed user list for an App",
                "description": "Get subscribed user list for an App.\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/appType"
                    },
                    {
                        "$ref": "#/parameters/appId"
                    },
                    {
                        "$ref": "#/parameters/Accept"
                    },
                    {
                        "$ref": "#/parameters/If-None-Match"
                    },
                    {
                        "$ref": "#/parameters/If-Modified-Since"
                    }
                ],
                "tags": [
                    "Apps"
                ],
                "responses": {
                    "200": {
                        "description": "OK.\nQualifying user list is returned.\n",
                        "schema": {
                            "$ref": "#/definitions/UserIdList"
                        },
                        "headers": {
                            "Content-Type": {
                                "description": "The content type of the body.",
                                "type": "string"
                            },
                            "ETag": {
                                "description": "Entity Tag of the response resource. Used by caches or in conditional requests.\n",
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request.\nInvalid request or validation error.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Forbidden.\nThe request must be conditional but no condition has been specified.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found.\nThe resource to be updated does not exist.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/apps/{appType}/id/{appId}/create-new-version": {
            "post": {
                "x-scope": "appm:create",
                "summary": "Create a new version of an App",
                "description": "Create a new version of an App\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/appType"
                    },
                    {
                        "$ref": "#/parameters/appId"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "App object that needs to be added.\n",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/App"
                        }
                    },
                    {
                        "$ref": "#/parameters/Content-Type"
                    },
                    {
                        "$ref": "#/parameters/If-Modified-Since"
                    }
                ],
                "tags": [
                    "Apps"
                ],
                "responses": {
                    "201": {
                        "description": "Created.\nSuccessful response with the newly created object as entity in the body.\nLocation header contains the URL of the newly created entity.\n",
                        "schema": {
                            "$ref": "#/definitions/App"
                        },
                        "headers": {
                            "Location": {
                                "description": "The URL of the newly created resource.\n",
                                "type": "string"
                            },
                            "Content-Type": {
                                "description": "The content type of the body.\n",
                                "type": "string"
                            },
                            "ETag": {
                                "description": "Entity Tag of the response resource. Used by caches or in conditional requests.\n",
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request.\nInvalid request or validation error.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "415": {
                        "description": "Unsupported Media Type.\nThe entity of the request was in an unsupported format.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/apps/{appType}/id/{appId}/lifecycle": {
            "get": {
                "x-scope": "appm:read",
                "x-wso2-curl": "curl -X GET -H \"Authorization: Bearer 0c0338592beefe7225bd6d869e93ca06\" \"http://localhost:9763/api/appm/publisher/v1.1/apps/webapp/id/c9ddf00d-c42f-4299-931c-bcda69c68050/lifecycle\"",
                "x-wso2-response": "{\"actions\":[\"Reject\",\"Approve\"],\"state\":\"IN-REVIEW\",\"async\":true}",
                "summary": "Get lifecycle details",
                "description": "Get lifecycle details of an App.\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/appType"
                    },
                    {
                        "$ref": "#/parameters/appId"
                    },
                    {
                        "$ref": "#/parameters/Accept"
                    },
                    {
                        "$ref": "#/parameters/If-None-Match"
                    }
                ],
                "tags": [
                    "Lifecycle"
                ],
                "responses": {
                    "200": {
                        "description": "OK.\nDetails of a lifecycle is returned.\n",
                        "schema": {
                            "$ref": "#/definitions/LifeCycle"
                        },
                        "headers": {
                            "Content-Type": {
                                "description": "The content type of the body.",
                                "type": "string"
                            },
                            "ETag": {
                                "description": "Entity Tag of the response resource. Used by caches or in conditional requests.\n",
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request.\nInvalid request or validation error.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Forbidden.\nThe request must be conditional but no condition has been specified.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found.\nThe resource to be updated does not exist.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/apps/{appType}/id/{appId}/lifecycle-history": {
            "get": {
                "x-scope": "appm:read",
                "x-wso2-curl": "curl -X GET -H \"Authorization: Bearer 9659421d7eea4c3ed54ef0833fade8f8\" \"http://localhost:9763/api/appm/publisher/v1.1/apps/mobileapp/id/44a49211-7b37-4b30-873e-4373343fdcda/lifecycle-history\"",
                "x-wso2-response": "{\"lifeCycleHistoryList\":[{\"state\":\"Approved\",\"order\":4,\"timestamp\":\"2016-05-20 14:47:16.787\",\"user\":\"wso2.system.user\",\"targetState\":\"Published\"},{\"state\":\"In-Review\",\"order\":3,\"timestamp\":\"2016-05-20 14:47:15.309\",\"user\":\"wso2.system.user\",\"targetState\":\"Approved\"},{\"state\":\"Created\",\"order\":2,\"timestamp\":\"2016-05-20 14:47:13.548\",\"user\":\"wso2.system.user\",\"targetState\":\"In-Review\"},{\"state\":\"Initial\",\"order\":1,\"timestamp\":\"2016-05-20 14:46:59.978\",\"user\":\"admin\",\"targetState\":\"Created\"}]}",
                "summary": "Get lifecycle details",
                "description": "Get lifecycle details.\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/appType"
                    },
                    {
                        "$ref": "#/parameters/appId"
                    },
                    {
                        "$ref": "#/parameters/Accept"
                    },
                    {
                        "$ref": "#/parameters/If-None-Match"
                    }
                ],
                "tags": [
                    "Lifecycle"
                ],
                "responses": {
                    "200": {
                        "description": "OK.\nList of qualifying Apps is returned.\n",
                        "schema": {
                            "$ref": "#/definitions/LifeCycleHistoryList"
                        },
                        "headers": {
                            "Content-Type": {
                                "description": "The content type of the body.",
                                "type": "string"
                            },
                            "ETag": {
                                "description": "Entity Tag of the response resource. Used by caches or in conditional requests.\n",
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request.\nInvalid request or validation error.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Forbidden.\nThe request must be conditional but no condition has been specified.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found.\nThe resource to be updated does not exist.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/apps/{appType}/throttlingtiers": {
            "get": {
                "x-scope": "appm:read",
                "x-wso2-curl": "curl -X GET -H \"Authorization: Bearer 0b236aa97005945bd9796149e54cd0b7\" \"http:\/\/localhost:9763\/api\/appm\/publisher\/v1.1\/apps\/webapp\/throttlingtiers\"",
                "x-wso2-response": "{\"tierList\":[{\"tierSortKey\":1,\"tierName\":\"Bronze\",\"tierDisplayName\":\"Bronze\",\"tierDescription\":\"Allows 1 request(s) per minute.\"},{\"tierSortKey\":20,\"tierName\":\"Gold\",\"tierDisplayName\":\"Gold\",\"tierDescription\":\"Allows 20 request(s) per minute.\"},{\"tierSortKey\":5,\"tierName\":\"Silver\",\"tierDisplayName\":\"Silver\",\"tierDescription\":\"Allows 5 request(s) per minute.\"},{\"tierSortKey\":10000,\"tierName\":\"Unlimited\",\"tierDisplayName\":\"Unlimited\",\"tierDescription\":\"Allows unlimited requests\"}]}",
                "summary": "Get all Tiers",
                "description": "Get a list of tiers.\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/appType"
                    },
                    {
                        "$ref": "#/parameters/Accept"
                    },
                    {
                        "$ref": "#/parameters/If-None-Match"
                    }
                ],
                "tags": [
                    "Tiers"
                ],
                "responses": {
                    "200": {
                        "description": "OK.\nList of tiers is returned.\n",
                        "schema": {
                            "$ref": "#/definitions/TierList"
                        },
                        "headers": {
                            "Content-Type": {
                                "description": "The content type of the body.",
                                "type": "string"
                            },
                            "ETag": {
                                "description": "Entity Tag of the response resource. Used by caches or in conditional requests.\n",
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request.\nInvalid request or validation error.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Forbidden.\nThe request must be conditional but no condition has been specified.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found.\nThe resource to be updated does not exist.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/apps/{appType}/id/{appId}/docs/{documentId}/content": {
            "get": {
                "x-scope": "appm:read",
                "x-wso2-curl": "curl -X GET -H \"Authorization: Bearer 637084f12e5f93b8c4e7a8d7307635ab\" \"http://localhost:9763/api/appm/publisher/v1.1/apps/webapp/id/927068ec-300a-4503-89fc-ef5ebc41a7db/docs/6777080d-99eb-402b-aadc-a00a17e178c3/content\" > sample.pdf",
                "x-wso2-response": "HTTP/1.1 200 OK\nContent-Disposition: attachment; filename=\"sample.pdf\"\nContent-Type: application/octet-stream\nContent-Length: 7802\n\n%PDF-1.4\n%äüöß\n2 0 obj\n<</Length 3 0 R/Filter/FlateDecode>>\nstream\n..\n>>\nstartxref\n7279\n%%EOF",
                "summary": "Get document content",
                "description": "Downloads a FILE type document/get the inline content or source url of a certain document.\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/appId"
                    },
                    {
                        "$ref": "#/parameters/documentId"
                    },
                    {
                        "$ref": "#/parameters/appType"
                    },
                    {
                        "$ref": "#/parameters/Accept"
                    },
                    {
                        "$ref": "#/parameters/If-None-Match"
                    },
                    {
                        "$ref": "#/parameters/If-Modified-Since"
                    }
                ],
                "tags": [
                    "App Document"
                ],
                "responses": {
                    "200": {
                        "description": "OK. \nFile or inline content returned.\n",
                        "headers": {
                            "Content-Type": {
                                "description": "The content type of the body.\n",
                                "type": "string"
                            },
                            "ETag": {
                                "description": "Entity Tag of the response resource.\nUsed by caches, or in conditional requests.\n",
                                "type": "string"
                            },
                            "Last-Modified": {
                                "description": "Date and time the resource has been modified the last time. \nUsed by caches, or in conditional reuquests.\n",
                                "type": "string"
                            }
                        }
                    },
                    "303": {
                        "description": "See Other.\nSource can be retrived from the URL specified at the Location header.\n",
                        "headers": {
                            "Location": {
                                "description": "The Source URL of the document.\n",
                                "type": "string"
                            }
                        }
                    },
                    "304": {
                        "description": "Not Modified. \nEmpty body because the client has already the latest version of the requested resource.\n"
                    },
                    "404": {
                        "description": "Not Found. \nRequested Document does not exist.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "406": {
                        "description": "Not Acceptable. \nThe requested media type is not supported\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "post": {
                "consumes": [
                    "multipart/form-data"
                ],
                "x-scope": "appm:create",
                "x-wso2-curl": "curl -X POST -H \"Authorization: Bearer 0c28ea242609cdbaef56c80452e0c843\" -H \"Content-Type: multipart/form-data\" -F \"file=@@sample.pdf\" \"http://localhost:9763/api/appm/publisher/v1.1/apps/webapp/id/a7a7dacc-8a1c-428e-930d-d181f60f14bd/docs/6d47f5d5-f046-47e9-a65d-6eb50d5cd05e/content\"",
                "x-wso2-response": "HTTP/1.1 200 OK",
                "summary": "Uploading document Content",
                "description": "Uploading document files against an App.\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/appType"
                    },
                    {
                        "$ref": "#/parameters/appId"
                    },
                    {
                        "$ref": "#/parameters/documentId"
                    },
                    {
                        "in": "formData",
                        "name": "file",
                        "description": "Document to be uploaded.",
                        "type": "file",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "inlineContent",
                        "description": "Inline content of the document.",
                        "type": "string",
                        "required": false
                    },
                    {
                        "$ref": "#/parameters/If-Match"
                    },
                    {
                        "$ref": "#/parameters/If-Unmodified-Since"
                    }
                ],
                "tags": [
                    "App Documents"
                ],
                "responses": {
                    "200": {
                        "description": "OK.\nDocument uploaded successfully.\n",
                        "schema": {
                            "$ref": "#/definitions/StaticContent"
                        },
                        "headers": {
                            "ETag": {
                                "description": "Entity Tag of the changed App. Used by caches or in conditional requests.\n",
                                "type": "string"
                            },
                            "Last-Modified": {
                                "description": "Date and time at which the resource was last modified.\nUsed by caches or in conditional requests.\n",
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request.\nInvalid request or validation error.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found.\nRequested entity does not exist.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/apps/{appType}/id/{appId}/docs": {
            "get": {
                "x-scope": "appm:read",
                "x-wso2-curl": "curl -H \"Authorization: Bearer b0982cd2aacd463ff5f63cd5ebe58f4a\" \"http://localhost:9763/api/appm/publisher/v1.1/apps/webapp/id/0950b09c-0afe-47f2-88d6-72e9b88b1931/docs\"",
                "x-wso2-response": "HTTP/1.1 200 OK\nContent-Type: application/json\n\n{\n   \"previous\": \"\",\n   \"list\":    [\n            {\n         \"sourceType\": \"INLINE\",\n         \"sourceUrl\": null,\n         \"otherTypeName\": null,\n         \"documentId\": \"0bcb7f05-599d-4e1a-adce-5cb89bfe58d5\",\n         \"summary\": \"This is a sample documentation for v1.0.0\",\n         \"name\": \"PhoneVerification App Documentation\",\n         \"type\": \"HOWTO\"\n      },\n            {\n         \"sourceType\": \"URL\",\n         \"sourceUrl\": \"http://wiki.cdyne.com/index.php/Phone_Verification\",\n         \"otherTypeName\": null,\n         \"documentId\": \"4145df31-04f1-440c-8d08-68952874622c\",\n         \"summary\": \"This is the URL for online documentation\",\n         \"name\": \"Online Documentation\",\n         \"type\": \"SAMPLES\"\n      }\n   ],\n   \"next\": \"\",\n   \"count\": 2\n}",
                "summary": "Get App Documents",
                "description": "Get a list of documents belonging to an App.\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/appType"
                    },
                    {
                        "$ref": "#/parameters/appId"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/Accept"
                    },
                    {
                        "$ref": "#/parameters/If-None-Match"
                    }
                ],
                "tags": [
                    "APP Document"
                ],
                "responses": {
                    "200": {
                        "description": "OK.\nDocument list is returned.\n",
                        "schema": {
                            "$ref": "#/definitions/DocumentList"
                        },
                        "headers": {
                            "Content-Type": {
                                "description": "The content type of the body.\n",
                                "type": "string"
                            },
                            "ETag": {
                                "description": "Entity Tag of the response resource. Used by caches or in conditional requests.\n",
                                "type": "string"
                            }
                        }
                    },
                    "304": {
                        "description": "Not Modified.\nEmpty body because the client already has the latest version of the requested resource.\n"
                    },
                    "404": {
                        "description": "Not Found.\nRequested resource does not exist.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "406": {
                        "description": "Not Acceptable.\nThe requested media type is not supported.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "post": {
                "x-scope": "appm:create",
                "x-wso2-curl": "curl -H \"Authorization: Bearer 4fc0a364a336a37c663790364da307a3\" -H \"Content-Type:application/json\" -X POST -d @data.json \"http://localhost:9763/api/appm/publisher/v1.1/apps/webapp/id/0950b09c-0afe-47f2-88d6-72e9b88b1931/docs\"",
                "x-wso2-request": "{\n    \"sourceType\": \"INLINE\",\n    \"sourceUrl\": null,\n    \"otherTypeName\": null,\n    \"summary\": \"This is a sample documentation\",\n    \"name\": \"Introduction to PhoneVerification API\",\n    \"type\": \"HOWTO\"\n}",
                "x-wso2-response": "HTTP/1.1 201 Created\nContent-Type: application/json\n\n{\n   \"sourceType\": \"INLINE\",\n   \"sourceUrl\": null,\n   \"otherTypeName\": null,\n   \"documentId\": \"ffd5790d-b7a9-4cb6-b76a-f8b83ecdd058\",\n   \"summary\": \"This is a sample documentation\",\n   \"name\": \"Introduction to PhoneVerification API\",\n   \"type\": \"HOWTO\"\n}",
                "summary": "Add a new document",
                "description": "Add a new document to an API\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/appId"
                    },
                    {
                        "$ref": "#/parameters/appType"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Document object that needs to be added.\n",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Document"
                        }
                    },
                    {
                        "$ref": "#/parameters/Content-Type"
                    }
                ],
                "tags": [
                    "App Documents"
                ],
                "responses": {
                    "201": {
                        "description": "Created.\nSuccessful response with the newly created document object as the entity in the body.\nLocation header contains the URL of the newly added document.\n",
                        "schema": {
                            "$ref": "#/definitions/Document"
                        },
                        "headers": {
                            "Location": {
                                "description": "Location to the newly created document.\n",
                                "type": "string"
                            },
                            "Content-Type": {
                                "description": "The content type of the body.\n",
                                "type": "string"
                            },
                            "ETag": {
                                "description": "Entity Tag of the response resource.\nUsed by caches or in conditional requests.\n",
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request.\nInvalid request or validation error.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "415": {
                        "description": "Unsupported media type.\nThe entity of the request was in an unsupported format.\n"
                    }
                }
            }
        },
        "/apps/{appType}/id/{appId}/docs/{documentId}": {
            "get": {
                "x-scope": "appm:read",
                "x-wso2-curl": "curl -X GET -H \"Authorization: Bearer 4fc0a364a336a37c663790364da307a3\" \"http://localhost:9763/api/appm/publisher/v1.1/apps/webapp/id/a7a7dacc-8a1c-428e-930d-d181f60f14bd/docs/6d47f5d5-f046-47e9-a65d-6eb50d5cd05e\"",
                "x-wso2-response": "HTTP/1.1 200 OK\nContent-Type: application/json\n\n{\n  \"sourceType\": \"INLINE\",\n   \"sourceUrl\": null,\n   \"otherTypeName\": null,\n   \"documentId\": \"0bcb7f05-599d-4e1a-adce-5cb89bfe58d5\",\n   \"summary\": \"This is a sample documentation\",\n   \"name\": \"PhoneVerification Documentation\",\n   \"type\": \"HOWTO\"\n}",
                "summary": "Retrieving document",
                "description": "Retrieving the document.\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/appType"
                    },
                    {
                        "$ref": "#/parameters/appId"
                    },
                    {
                        "$ref": "#/parameters/documentId"
                    },
                    {
                        "$ref": "#/parameters/If-Match"
                    },
                    {
                        "$ref": "#/parameters/If-Unmodified-Since"
                    }
                ],
                "tags": [
                    "App Documents"
                ],
                "responses": {
                    "200": {
                        "description": "OK.\nDocument retrieved successfully.\n",
                        "schema": {
                            "type": "file"
                        },
                        "headers": {
                            "ETag": {
                                "description": "Entity Tag of the changed App. Used by caches or in conditional requests.\n",
                                "type": "string"
                            },
                            "Last-Modified": {
                                "description": "Date and time at which the resource was last modified.\nUsed by caches or in conditional requests.\n",
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request.\nInvalid request or validation error.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found.\nRequested entity does not exist.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "412": {
                        "description": "Precondition Failed.\nThe request has not been performed because one of the preconditions is not met.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "delete": {
                "x-scope": "appm:create",
                "x-wso2-curl": "curl -H \"Authorization: Bearer 4fc0a364a336a37c663790364da307a3\" -X DELETE \"http://localhost:9763/api/appm/publisher/v1.1/apps/webapp/id/0950b09c-0afe-47f2-88d6-72e9b88b1931/docs/8150c757-ba7f-4751-8020-71d7ee3e5d76\"",
                "x-wso2-response": "HTTP/1.1 200 OK",
                "summary": "Delete Document",
                "description": "Delete an existing document.\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/appType"
                    },
                    {
                        "$ref": "#/parameters/appId"
                    },
                    {
                        "$ref": "#/parameters/documentId"
                    },
                    {
                        "$ref": "#/parameters/If-Match"
                    },
                    {
                        "$ref": "#/parameters/If-Unmodified-Since"
                    }
                ],
                "tags": [
                    "Apps"
                ],
                "responses": {
                    "200": {
                        "description": "OK.\nResource successfully deleted.\n"
                    },
                    "403": {
                        "description": "Forbidden.\nThe request must be conditional but no condition has been specified.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found.\nResource to be deleted does not exist.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "x-scope": "appm:create",
                "x-wso2-curl": "curl -k -H \"Authorization:Bearer b0982cd2aacd463ff5f63cd5ebe58f4a\" -H \"Content-Type: application/json\" -X PUT -d data.json \"http://localhost:9763/api/appm/publisher/v1.1/apps/webapp/id/a7a7dacc-8a1c-428e-930d-d181f60f14bd/docs/4cbbafc6-2327-49fc-9c3f-34ea36599091\"",
                "x-wso2-request": "{\n   \"sourceType\": \"INLINE\",\n   \"sourceUrl\": null,\n   \"otherTypeName\": null,\n   \"documentId\": \"0bcb7f05-599d-4e1a-adce-5cb89bfe58d5\",\n   \"summary\": \"This is a sample documentation for v1.0.0\",\n   \"name\": \"PhoneVerification Documentation\",\n   \"type\": \"HOWTO\"\n}",
                "x-wso2-response": "HTTP/1.1 200 OK\nContent-Type: application/json\n\n{\n   \"visibility\": \"API_LEVEL\",\n   \"sourceType\": \"INLINE\",\n   \"sourceUrl\": null,\n   \"otherTypeName\": null,\n   \"documentId\": \"0bcb7f05-599d-4e1a-adce-5cb89bfe58d5\",\n   \"summary\": \"This is a sample documentation for v1.0.0\",\n   \"name\": \"PhoneVerification Documentation\",\n   \"type\": \"HOWTO\"\n}",
                "summary": "Update an Webapp Document",
                "description": "Update document details.\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/appId"
                    },
                    {
                        "$ref": "#/parameters/documentId"
                    },
                    {
                        "$ref": "#/parameters/appType"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Document object that needs to be added\n",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Document"
                        }
                    },
                    {
                        "$ref": "#/parameters/Content-Type"
                    },
                    {
                        "$ref": "#/parameters/If-Match"
                    },
                    {
                        "$ref": "#/parameters/If-Unmodified-Since"
                    }
                ],
                "tags": [
                    "App Document"
                ],
                "responses": {
                    "200": {
                        "description": "OK. \nDocument updated\n",
                        "schema": {
                            "$ref": "#/definitions/Document"
                        },
                        "headers": {
                            "Location": {
                                "description": "The URL of the updated document.\n",
                                "type": "string"
                            },
                            "Content-Type": {
                                "description": "The content type of the body.\n",
                                "type": "string"
                            },
                            "ETag": {
                                "description": "Entity Tag of the response resource. \nUsed by caches, or in conditional request.\n",
                                "type": "string"
                            },
                            "Last-Modified": {
                                "description": "Date and time the resource has been modifed the last time. \nUsed by caches, or in conditional reuquests.\n",
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request. \nInvalid request or validation error.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found. \nThe resource to be updated does not exist.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "412": {
                        "description": "Precondition Failed. \nThe request has not been performed because one of the preconditions is not met.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/apps/{appType}/change-lifecycle": {
            "post": {
                "summary": "Change App Status",
                "x-scope": "appm:publish",
                "x-wso2-curl": "curl -X POST -H \"Authorization: Bearer 31b72e5a9158a413187532b052953f68\" -H \"Content-Type: application/json\" \"http://localhost:9763/api/appm/publisher/v1.1/apps/mobileapp/change-lifecycle?appId=d88b826c-e560-499e-900d-eb24679b2fbf&action=Unpublish\"",
                "x-wso2-response": "HTTP/1.1 202 OK\nContent-Type: application/json\n {\"message\": \"Lifecycle action : Recycle has been accepted for processing \"}",
                "description": "Change the lifecycle of an App.\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/appType"
                    },
                    {
                        "name": "action",
                        "description": "The action determining whether to demote or promote the state of the App.\n\n\n\n\nSupported actions are [**Publish, Approve, Reject, Unpublish, Deprecate, Retire, Recycle, Re-Publish, Submit for Review**]\n",
                        "in": "query",
                        "type": "string",
                        "required": true,
                        "enum": [
                            "Publish",
                            "Approve",
                            "Reject",
                            "Unpublish",
                            "Deprecate",
                            "Retire",
                            "Recycle",
                            "Re-Publish",
                            "Submit#for#Review"
                        ]
                    },
                    {
                        "$ref": "#/parameters/appId-Q"
                    },
                    {
                        "$ref": "#/parameters/If-Match"
                    },
                    {
                        "$ref": "#/parameters/If-Unmodified-Since"
                    }
                ],
                "tags": [
                    "Apps"
                ],
                "responses": {
                    "202": {
                        "schema": {
                            "$ref": "#/definitions/ResponseMessage"
                        },
                        "description": "OK.\nLifecycle changed successfully.\n",
                        "headers": {
                            "ETag": {
                                "description": "Entity Tag of the App. Used by caches or in conditional requests.\n",
                                "type": "string"
                            },
                            "Last-Modified": {
                                "description": "Date and time at which the App lifecycle was last modified.\nUsed by caches or in conditional requests.\n",
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request.\nInvalid request or validation error.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found.\nRequested App does not exist.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "412": {
                        "description": "Precondition Failed.\nThe request has not been performed because one of the preconditions is not met.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/apps/{appType}/validate-context": {
            "post": {
                "x-scope": "appm:create",
                "x-wso2-curl": "curl -X POST -H \"Authorization: Bearer f61b3bea0fdc1d31d464a40f7aec8282\" \"http://localhost:9763/api/appm/publisher/v1.1/apps/webapp/validate-context?appContext=travelApp\"",
                "x-wso2-response": "HTTP/1.1 200 OK\nContent-Type: application/json\n{\"IsContextExists\":true}",
                "summary": "Validate App Context",
                "description": "Validate App context.\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/appType"
                    },
                    {
                        "$ref": "#/parameters/appContext"
                    },
                    {
                        "$ref": "#/parameters/Content-Type"
                    },
                    {
                        "$ref": "#/parameters/If-Modified-Since"
                    }
                ],
                "tags": [
                    "App"
                ],
                "responses": {
                    "200": {
                        "description": "OK.\n"
                    },
                    "400": {
                        "description": "Bad Request.\nInvalid request or validation error.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "415": {
                        "description": "Unsupported Media Type.\nThe entity of the request was in an unsupported format.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/apps/{appType}/stats/{statType}": {
            "get": {
                "x-scope": "appm:read",
                "x-wso2-curl": "curl -X GET -H \"Authorization: Bearer ede4387e36fbf87c802026f1240b7e5d\" \"http://localhost:9763/api/appm/publisher/v1.1/apps/webapp/stats/getAppUsagePerPage\"",
                "x-wso2-response": "{\"result\": [{\"apiName\": \"TravelBooking_admin(v1.0.0)\",\"referer\": \"/travel/1.0.0/booking-step2.jsp\",\"userId\": \"subscriber_admin\",\"version\": \"1.0.0\",\"count\": 15,\"context\": \"/travel\"},{\"apiName\": \"TravelBooking_admin(v1.0.0)\",\"referer\": \"/travel/1.0.0/booking-step1.jsp\",\"userId\": \"subscriber_admin\",\"version\": \"1.0.0\",\"count\": 20,\"context\": \"/travel\"},{\"apiName\": \"PlanYourTrip_admin(v1.0.0)\",\"referer\": \"/planYourTrip/1.0.0\",\"userId\": \"subscriber_admin\",\"version\": \"1.0.0\", \"count\": 10, \"context\": \"/planYourTrip\"}]}",
                "summary": "Get stat summary",
                "description": "Get stat summary results.\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/appType"
                    },
                    {
                        "$ref": "#/parameters/statType"
                    },
                    {
                        "name": "startTimeStamp",
                        "description": "The start date and time of the stat analysis in the following format: 2016-04-19 10:32:00",
                        "in": "query",
                        "type": "string",
                        "required": false
                    },
                    {
                        "name": "endTimeStamp",
                        "description": "The end date and time of the stat analysis in the following format: 2016-04-19 10:32:00",
                        "in": "query",
                        "type": "string",
                        "required": false
                    },
                    {
                        "name": "limit",
                        "description": "The limit of the number of records.",
                        "in": "query",
                        "type": "integer",
                        "required": false
                    },
                    {
                        "$ref": "#/parameters/Accept"
                    },
                    {
                        "$ref": "#/parameters/If-None-Match"
                    }
                ],
                "tags": [
                    "Stats"
                ],
                "responses": {
                    "200": {
                        "description": "OK.\n",
                        "schema": {
                            "$ref": "#/definitions/StatSummary"
                        },
                        "headers": {
                            "Content-Type": {
                                "description": "The content type of the body.",
                                "type": "string"
                            },
                            "ETag": {
                                "description": "Entity Tag of the response resource. Used by caches or in conditional requests.\n",
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request.\nInvalid request or validation error.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Forbidden.\nThe request must be conditional but no condition has been specified.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found.\nThe resource to be updated does not exist.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/apps/{appType}/tags": {
            "get": {
                "x-scope": "appm:read",
                "x-wso2-curl": "curl -X GET -H \"Authorization: Bearer 0c0338592beefe7225bd6d869e93ca06\" \"http://localhost:9763/api/appm/publisher/v1.1/apps/webapp/tags\"",
                "x-wso2-response": "[{\"name\":\"webapptag1\",\"noOfOccurrences\":1},{\"name\":\"webapptag2\",\"noOfOccurrences\":1},{\"name\":\"webapptag3\",\"noOfOccurrences\":1}]",
                "summary": "Get all Tags",
                "description": "Get a list of available tags relevant to the given App type.\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/appType"
                    },
                    {
                        "$ref": "#/parameters/Accept"
                    },
                    {
                        "$ref": "#/parameters/If-None-Match"
                    }
                ],
                "tags": [
                    "Tags"
                ],
                "responses": {
                    "200": {
                        "description": "OK.\nList of tags is returned.\n",
                        "schema": {
                            "$ref": "#/definitions/TagList"
                        },
                        "headers": {
                            "Content-Type": {
                                "description": "The content type of the body.",
                                "type": "string"
                            },
                            "ETag": {
                                "description": "Entity Tag of the response resource. Used by caches or in conditional requests.\n",
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request.\nInvalid request or validation error.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Forbidden.\nThe request must be conditional but no condition has been specified.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found.\nThe resource to be updated does not exist.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/apps/mobile/binaries": {
            "post": {
                "consumes": [
                    "multipart/form-data"
                ],
                "x-scope": "appm:create",
                "x-wso2-curl": "curl -X POST -H \"Authorization: Bearer 31b72e5a9158a413187532b052953f68\" -H \"Content-Type: multipart/form-data\" -F \"file=@/home/user/sample.apk\" \"http://localhost:9763/api/appm/publisher/v1.1/apps/mobile/binaries\"",
                "x-wso2-response": "{\"version\": \"1.0\",\"package\": \"home.jmstudios.calc\",\"path\": \"O0lsxdlhR998Hhc.apk\"}",
                "summary": "Uploading binary files",
                "description": "Uploading .apk/.IPA binary files.\n",
                "parameters": [
                    {
                        "in": "formData",
                        "name": "file",
                        "description": "Document to be uploaded.",
                        "type": "file",
                        "required": false
                    },
                    {
                        "$ref": "#/parameters/If-Match"
                    },
                    {
                        "$ref": "#/parameters/If-Unmodified-Since"
                    }
                ],
                "tags": [
                    "MobileApps"
                ],
                "responses": {
                    "200": {
                        "description": "OK.\nBinary file uploaded successfully.\n",
                        "schema": {
                            "$ref": "#/definitions/Binary"
                        },
                        "headers": {
                            "ETag": {
                                "description": "Entity Tag of the changed App. Used by caches or in conditional requests.\n",
                                "type": "string"
                            },
                            "Last-Modified": {
                                "description": "Date and time at which the resource was last modified.\nUsed by caches or in conditional requests.\n",
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request.\nInvalid request or validation error.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found.\nRequested App does not exist.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "412": {
                        "description": "Precondition Failed.\nThe request has not been performed because one of the preconditions is not met.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/apps/mobile/binaries/{fileName}": {
            "get": {
                "x-scope": "appm:create",
                "x-wso2-curl": "curl -X GET -H \"Authorization: Bearer 0763d28a85f20d6fd8954f955859055c\" \"http://localhost:9763/api/appm/publisher/v1.1/apps/mobile/binaries/O0lsxdlhR998Hhc.apk\"",
                "x-wso2-response": "HTTP/1.1 200 OK",
                "summary": "Retrieving mobile application binaries",
                "description": "Retrieving .apk and .ipa binaries for mobile apps.\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/fileName"
                    },
                    {
                        "$ref": "#/parameters/If-Match"
                    },
                    {
                        "$ref": "#/parameters/If-Unmodified-Since"
                    }
                ],
                "tags": [
                    "MobileApps"
                ],
                "responses": {
                    "200": {
                        "description": "OK.\nMobile app binary content retrieved successfully.\n",
                        "schema": {
                            "type": "file"
                        },
                        "headers": {
                            "ETag": {
                                "description": "Entity Tag of the changed App. Used by caches or in conditional requests.\n",
                                "type": "string"
                            },
                            "Last-Modified": {
                                "description": "Date and time at which the resource was last modified.\nUsed by caches or in conditional requests.\n",
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request.\nInvalid request or validation error.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found.\nRequested entity does not exist.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "412": {
                        "description": "Precondition Failed.\nThe request has not been performed because one of the preconditions is not met.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/apps/mobile/getplist/tenant/{tenantId}/file/{fileName}": {
            "get": {
                "x-scope": "appm:read",
                "x-wso2-curl": "",
                "x-wso2-response": "",
                "summary": "Get Plist",
                "description": "Get the plist file of the specified iOS (Apple) mobile app.\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantId"
                    },
                    {
                        "$ref": "#/parameters/fileName"
                    },
                    {
                        "$ref": "#/parameters/Accept"
                    },
                    {
                        "$ref": "#/parameters/If-None-Match"
                    }
                ],
                "tags": [
                    "Apps"
                ],
                "responses": {
                    "200": {
                        "description": "OK.\n",
                        "schema": {
                            "$ref": "#/definitions/PList"
                        },
                        "headers": {
                            "Content-Type": {
                                "description": "The content type of the body.",
                                "type": "string"
                            },
                            "ETag": {
                                "description": "Entity Tag of the response resource. Used by caches or in conditional requests.\n",
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request.\nInvalid request or validation error.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Forbidden.\nThe request must be conditional but no condition has been specified.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found.\nThe resource to be updated does not exist.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/apps/static-contents": {
            "post": {
                "consumes": [
                    "multipart/form-data"
                ],
                "x-scope": "appm:create",
                "x-wso2-curl": "curl -X POST -H \"Authorization: Bearer 0763d28a85f20d6fd8954f955859055c\" -H \"Content-Type: multipart/form-data\" -F \"file=@/home/user/sample.jpg\" \"http://localhost:9763/api/appm/publisher/v1.1/apps/static-contents?appType=webapp\"",
                "x-wso2-response": "{\"id\": \"ZQCIsEEkYM2LJ9C.jpg\"}",
                "summary": "Uploading images, pdf and document files",
                "description": "Uploading images for banners, screenshots etc.\n",
                "parameters": [
                    {
                        "in": "formData",
                        "name": "file",
                        "description": "Document to be uploaded.",
                        "type": "file",
                        "required": false
                    },
                    {
                        "name": "appType",
                        "description": "The application type.",
                        "in": "query",
                        "type": "string",
                        "required": true
                    },
                    {
                        "$ref": "#/parameters/If-Match"
                    },
                    {
                        "$ref": "#/parameters/If-Unmodified-Since"
                    }
                ],
                "tags": [
                    "Apps"
                ],
                "responses": {
                    "200": {
                        "description": "OK.\nStatic content uploaded successfully.\n",
                        "schema": {
                            "$ref": "#/definitions/StaticContent"
                        },
                        "headers": {
                            "ETag": {
                                "description": "Entity Tag of the changed App. Used by caches or in conditional requests.\n",
                                "type": "string"
                            },
                            "Last-Modified": {
                                "description": "Date and time at which the resource was last modified.\nUsed by caches or in conditional requests.\n",
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request.\nInvalid request or validation error.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found.\nRequested entity does not exist.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "412": {
                        "description": "Precondition Failed.\nThe request has not been performed because one of the preconditions is not met.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/apps/static-contents/{fileName}": {
            "get": {
                "x-scope": "appm:read",
                "x-wso2-curl": "curl -X GET -H \"Authorization: Bearer c7fff7b0307472345c8652d6595b1b1c\" \"http://localhost:9763/api/appm/publisher/v1.1/apps/static-contents/ZQCIsEEkYM2LJ9C.jpg?appType=mobileapp\"",
                "x-wso2-response": "HTTP/1.1 200 OK",
                "summary": "Retrieving images, pdf and documents files",
                "description": "Retrieving images for banners, screenshots, etc.\n",
                "parameters": [
                    {
                        "name": "appType",
                        "description": "The application type.",
                        "in": "query",
                        "type": "string",
                        "required": true
                    },
                    {
                        "$ref": "#/parameters/fileName"
                    },
                    {
                        "$ref": "#/parameters/If-Match"
                    },
                    {
                        "$ref": "#/parameters/If-Unmodified-Since"
                    }
                ],
                "tags": [
                    "Apps"
                ],
                "responses": {
                    "200": {
                        "description": "OK.\nStatic content retrieved successfully.\n",
                        "schema": {
                            "type": "file"
                        },
                        "headers": {
                            "ETag": {
                                "description": "Entity Tag of the changed App. Used by caches or in conditional requests.\n",
                                "type": "string"
                            },
                            "Last-Modified": {
                                "description": "Date and time at which the resource was last modified.\nUsed by caches or in conditional requests.\n",
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request.\nInvalid request or validation error.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found.\nRequested entity does not exist.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "412": {
                        "description": "Precondition Failed.\nThe request has not been performed because one of the preconditions is not met.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/xacmlpolicies/": {
            "get": {
                "x-scope": "appm:create",
                "x-wso2-curl": "curl -X GET -H \"Authorization: Bearer e819870696cc39494d12841b5094a411\" \"http://localhost:9763/api/appm/publisher/v1.1/xacmlpolicies\"",
                "x-wso2-response": "{\"policyPartial\": \"<Rule Effect=\"Permit\" RuleId=\"Rule001\"><Condition>\n      <Apply FunctionId=\"urn:oasis:names:tc:xacml:1.0:function:any-of\">\n         <Function FunctionId=\"urn:oasis:names:tc:xacml:1.0:function:string-equal\"/>\n         <AttributeValue DataType=\"http://www.w3.org/2001/XMLSchema#string\">admin</AttributeValue>\n         <AttributeDesignator AttributeId=\"http://wso2.org/claims/role\" Category=\"urn:oasis:names:tc:xacml:1.0:subject-category:access-subject\" DataType=\"http://www.w3.org/2001/XMLSchema#string\" MustBePresent=\"true\"/>\n      </Apply>\n</Condition>\n</Rule>\",\"policyPartialName\": policy1,\"isSharedPartial\": true,\"policyPartialDesc\": null,,\"policyPartialId\": 1}",
                "summary": "Get all XACML policies",
                "description": "Get a list of XACML policies.\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/Accept"
                    },
                    {
                        "$ref": "#/parameters/If-None-Match"
                    }
                ],
                "tags": [
                    "XACMLPolicies"
                ],
                "responses": {
                    "200": {
                        "description": "OK.\nList of XACML policies is returned.\n",
                        "schema": {
                            "$ref": "#/definitions/PolicyPartialList"
                        },
                        "headers": {
                            "Content-Type": {
                                "description": "The content type of the body.",
                                "type": "string"
                            },
                            "ETag": {
                                "description": "Entity Tag of the response resource. Used by caches or in conditional requests.\n",
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request.\nInvalid request or validation error.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Forbidden.\nThe request must be conditional but no condition has been specified.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found.\nThe resource to be updated does not exist.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/xacmlpolicies/{policyPartialId}/apps/{appType}": {
            "get": {
                "x-scope": "appm:read",
                "x-wso2-curl": "curl -X GET -H \"Authorization: Bearer 04b1607a56c2d51adb35912943335322\" -H \"Content-Type: application\/json\" \"http:\/\/localhost:9763\/api\/appm\/publisher\/v1.1\/xacmlpolicies\/2\/apps\/webapp\"",
                "x-wso2-response": "{\"previous\":\"\",\"next\":\"\",\"count\":2,\"appList\":[{\"name\":\"app1\",\"context\":null,\"id\":\"af929140-1257-46ed-97c0-d26098e140e9\",\"rating\":0.0,\"lifecycleState\":\"IN-REVIEW\",\"provider\":\"admin\",\"description\":\"asdasd\",\"version\":\"1\"},{\"name\":\"app2\",\"context\":null,\"id\":\"5c9c8551-d696-4c44-85a6-dcd86f1a1e25\",\"rating\":0.0,\"lifecycleState\":\"CREATED\",\"provider\":\"admin\",\"description\":\"phone\",\"version\":\"1.0\"}]}",
                "summary": "Get all Apps mapped to a policy partial",
                "description": "Get a list of available Apps mapped to a policy partial.\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/policyPartialId"
                    },
                    {
                        "$ref": "#/parameters/appType"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
[...]
