{
    "swagger": "2.0",
    "info": {
        "version": "1.1.0",
        "title": "WSO2 APP Manager - Publisher API",
        "description": "This document specifies a **RESTful API** for WSO2 **APP Manager** - Publisher.\n\n\n\n\nIt is written with [swagger 2](http://swagger.io/).\n",
        "contact": {
            "name": "WSO2",
            "url": "http://wso2.com/products/app-manager/",
            "email": "architecture@wso2.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        }
    },
    "schemes": [
        "http"
    ],
    "host": "apis.wso2.com",
    "basePath": "/api/appm/publisher/v1.0",
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "x-wso2-security": {
        "appm": {
            "x-wso2-scopes": [
                {
                    "description": "",
                    "roles": "admin",
                    "name": "appm:read",
                    "key": "appm:read"
                },
                {
                    "description": "",
                    "roles": "admin",
                    "name": "appm:create",
                    "key": "appm:create"
                },
                {
                    "description": "",
                    "roles": "admin",
                    "name": "appm:update",
                    "key": "appm:update"
                },
                {
                    "description": "",
                    "roles": "admin",
                    "name": "appm:administration",
                    "key": "appm:administration"
                },
                {
                    "description": "",
                    "roles": "admin",
                    "name": "appm:publish",
                    "key": "appm:publish"
                }
            ]
        }
    },
    "paths": {
        "/apps/{appType}": {
            "get": {
                "x-scope": "appm:read",
                "x-wso2-curl": "curl -X GET -H \"Authorization: Bearer f126676fc6fc2d2d7828220c992c9b15\" \"http://localhost:9763/api/appm/publisher/v1.0/apps/webapp\"",
                "x-wso2-response": "{\"previous\":\"\",\"next\":\"\",\"count\":2,\"appList\":[{\"name\":\"app1\",\"context\":null,\"id\":\"af929140-1257-46ed-97c0-d26098e140e9\",\"rating\":0.0,\"lifecycleState\":\"IN-REVIEW\",\"provider\":\"admin\",\"description\":\"asdasd\",\"version\":\"1\"},{\"name\":\"app2\",\"context\":null,\"id\":\"5c9c8551-d696-4c44-85a6-dcd86f1a1e25\",\"rating\":0.0,\"lifecycleState\":\"CREATED\",\"provider\":\"admin\",\"description\":\"phone\",\"version\":\"1.0\"}]}",
                "summary": "Get all Apps",
                "description": "Get a list of available Apps qualifying under a given search condition.\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/appType"
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "description": "**Search condition**.\n\n\n\n\nYou can search in attributes by using an **\"attribute:\"** modifier.\n\n\n\n\nEg. \"provider:wso2\" will match an App if the provider of the App contains \"wso2\".\n\n\n\n\nSupported attribute modifiers are [*provider, app_name, app_version, app_id**]\n\n\n\n\nIf no advanced attribute modifier has been specified, search will match the\ngiven query string against App Name.\n",
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/fieldFilter"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/Accept"
                    },
                    {
                        "$ref": "#/parameters/If-None-Match"
                    }
                ],
                "tags": [
                    "Apps"
                ],
                "responses": {
                    "200": {
                        "description": "OK. \nList of qualifying Apps is returned.\n",
                        "schema": {
                            "$ref": "#/definitions/AppList"
                        },
                        "headers": {
                            "Content-Type": {
                                "description": "The content type of the body.",
                                "type": "string"
                            },
                            "ETag": {
                                "description": "Entity Tag of the response resource. Used by caches, or in conditional requests.\n",
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request. \nInvalid request or validation error.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Forbidden. \nThe request must be conditional but no condition has been specified.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found. \nThe resource to be updated does not exist.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "post": {
                "x-scope": "appm:create",
                "x-wso2-curl": "curl -v -X POST 'http://localhost:9763/api/appm/publisher/v1.0/apps/mobileapp' -d '{\"appmeta\" :{\"path\" : \"/publisher/api/mobileapp/getfile/D3PdRxvU24WK3EN.apk\", \"package\" : \"home.jmstudios.calc\", \"version\" : \"1.0\"},\"name\":\"sample\",\"provider\":\"admin\",\"platform\":\"android\",\"version\":\"1.0.0\", \"banner\":\"/publisher/api/mobileapp/getfile/9YRDRWqOSvzu31IX.jpg\",\"thumbnailUrl\":\"/publisher/api/mobileapp/getfile/62gKWqOSvzu31IX.jpg\",\"screenshots\":[\"/publisher/api/mobileapp/getfile/62gKWqOSvzu31IX.jpg\"],\"displayName\":\"SampleDisplay\",\"description\":\"sample calculator application\",\"platform\":\"android\",\"category\":\"Business\",”marketType”:”enterprise”}'",
                "x-wso2-request": "{\"appmeta\" :{\"path\" : \"/publisher/api/mobileapp/getfile/D3PdRxvU24WK3EN.apk\", \"package\" : \"home.jmstudios.calc\", \"version\" : \"1.0\"},\"name\":\"sample\",\"provider\":\"admin\",\"platform\":\"android\",\"version\":\"1.0.0\", \"banner\":\"/publisher/api/mobileapp/getfile/9YRDRWqOSvzu31IX.jpg\",\"thumbnailUrl\":\"/publisher/api/mobileapp/getfile/62gKWqOSvzu31IX.jpg\",\"screenshots\":[\"/publisher/api/mobileapp/getfile/62gKWqOSvzu31IX.jpg\"],\"displayName\":\"SampleDisplay\",\"description\":\"sample calculator application\",\"platform\":\"android\",\"category\":\"Business\",”marketType”:”enterprise”}",
                "x-wso2-response": "{\"id\" : \"aff9fb92-7e17-4ce8-8024-a747ff5aea41\"}",
                "summary": "Create a new App",
                "description": "Create a new App\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/appType"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "App object that needs to be added\n",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/App"
                        }
                    },
                    {
                        "$ref": "#/parameters/Content-Type"
                    },
                    {
                        "$ref": "#/parameters/If-Modified-Since"
                    }
                ],
                "tags": [
                    "Apps"
                ],
                "responses": {
                    "201": {
                        "description": "Created. \nSuccessful response with the newly created object as entity in the body. \nLocation header contains URL of newly created entity.\n",
                        "schema": {
                            "$ref": "#/definitions/App"
                        },
                        "headers": {
                            "Location": {
                                "description": "The URL of the newly created resource.\n",
                                "type": "string"
                            },
                            "Content-Type": {
                                "description": "The content type of the body.\n",
                                "type": "string"
                            },
                            "ETag": {
                                "description": "Entity Tag of the response resource. Used by caches, or in conditional request\n",
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request. \nInvalid request or validation error.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "415": {
                        "description": "Unsupported Media Type. \nThe entity of the request was in a not supported format.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/apps/{appType}/id/{appId}": {
            "get": {
                "x-scope": "appm:read",
                "x-wso2-curl": "curl -X GET -H \"Authorization: Bearer f126676fc6fc2d2d7828220c992c9b15\"  \"http://localhost:9763/api/appm/publisher/v1.0/apps/mobileapp/id/af929140-1257-46ed-97c0-d26098e140e9\"",
                "x-wso2-response": "{\"displayName\":null,\"createdTime\":\"00000001461645676735\",\"bundleVersion\":\"1\",\"packageName\":\"undefined\",\"description\":\"asdasd\",\"version\":\"1\",\"category\":\"Business\",\"tags\":[],\"appType\":\"webapp\",\"appName\":\"asd\",\"appUrl\":\"http://wso2.com\",\"banner\":\"/publisher/api/mobileapp/getfile/pduoTTAgbWAuFxm.JPG\",\"marketType\":null,\"recentChanges\":\"-\",\"appProvider\":\"admin\",\"thumbnail\":\"/publisher/api/mobileapp/getfile/J3TM0iKb6OiapuG.JPG\",\"screenShots\":[\"/publisher/api/mobileapp/getfile/zq7kNCpZkfLsxic.JPG\"],\"appId\":null,\"platform\":\"webapp\",\"appVisibility\":null,\"availableLifecycleActions\":null,\"lifecycleStatus\":\"INREVIEW\",\"type\":\"mobileapp\",\"uuid\":\"af929140-1257-46ed-97c0-d26098e140e9\",\"rating\":0.0}",
                "summary": "Get app details",
                "description": "Get details of an app.\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/appType"
                    },
                    {
                        "$ref": "#/parameters/appId"
                    },
                    {
                        "$ref": "#/parameters/Accept"
                    },
                    {
                        "$ref": "#/parameters/If-None-Match"
                    },
                    {
                        "$ref": "#/parameters/If-Modified-Since"
                    }
                ],
                "tags": [
                    "Apps"
                ],
                "responses": {
                    "200": {
                        "description": "OK. \nQualifying App is returned.\n",
                        "schema": {
                            "$ref": "#/definitions/AppInfo"
                        },
                        "headers": {
                            "Content-Type": {
                                "description": "The content type of the body.",
                                "type": "string"
                            },
                            "ETag": {
                                "description": "Entity Tag of the response resource. Used by caches, or in conditional requests.\n",
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request. \nInvalid request or validation error.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Forbidden. \nThe request must be conditional but no condition has been specified.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found. \nThe resource to be updated does not exist.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "x-scope": "appm:update",
                "x-wso2-curl": "curl -v -X PUT 'http://localhost:9763/api/appm/publisher/v1.0/apps/mobileapp/id/906249f5-529b-41f3-bf18-d95e9403e9f0' -d '{\"appmeta\" :{\"path\" : \"/publisher/api/mobileapp/getfile/D3PdRxvU24WK3EN.apk\", \"package\" : \"home.jmstudios.calc\", \"version\" : \"1.0\"},\"name\":\"sample\",\"provider\":\"admin\",\"platform\":\"android\",\"version\":\"1.0.0\",\"banner\":\"/publisher/api/mobileapp/getfile/nzcYzFxpWpNHlyk.jpg\",\"thumbnailUrl\":\"/publisher/api/mobileapp/getfile/nzcYzFxpWpNHlyk.jpg\",\"screenshots\":[\"/publisher/api/mobileapp/getfile/62gKWqOSvzu31IX.jpg\"],\"displayName\":\"fdyefyeufuegfyugefyue\",\"description\":\"description\",\"platform\":\"android\",\"category\":\"public\"}'",
                "x-wso2-request": "{\"appmeta\" :{\"path\" : \"/publisher/api/mobileapp/getfile/D3PdRxvU24WK3EN.apk\", \"package\" : \"home.jmstudios.calc\", \"version\" : \"1.0\"},\"name\":\"sample\",\"provider\":\"admin\",\"platform\":\"android\",\"version\":\"1.0.0\",\"banner\":\"/publisher/api/mobileapp/getfile/nzcYzFxpWpNHlyk.jpg\",\"thumbnailUrl\":\"/publisher/api/mobileapp/getfile/nzcYzFxpWpNHlyk.jpg\",\"screenshots\":[\"/publisher/api/mobileapp/getfile/62gKWqOSvzu31IX.jpg\"],\"displayName\":\"fdyefyeufuegfyugefyue\",\"description\":\"description\",\"platform\":\"android\",\"category\":\"public\"}",
                "x-wso2-response": "HTTP/1.1 200 OK",
                "summary": "Update an existing App",
                "description": "Update an existing App\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/appType"
                    },
                    {
                        "$ref": "#/parameters/appId"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "App object that needs to be added\n",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/App"
                        }
                    },
                    {
                        "$ref": "#/parameters/Content-Type"
                    },
                    {
                        "$ref": "#/parameters/If-Match"
                    },
                    {
                        "$ref": "#/parameters/If-Unmodified-Since"
                    }
                ],
                "tags": [
                    "Apps"
                ],
                "responses": {
                    "200": {
                        "description": "OK. \nSuccessful response with updated App object\n",
                        "schema": {
                            "$ref": "#/definitions/App"
                        },
                        "headers": {
                            "Location": {
                                "description": "The URL of the newly created resource.\n",
                                "type": "string"
                            },
                            "Content-Type": {
                                "description": "The content type of the body.\n",
                                "type": "string"
                            },
                            "ETag": {
                                "description": "Entity Tag of the response resource. Used by caches, or in conditional request.\n",
                                "type": "string"
                            },
                            "Last-Modified": {
                                "description": "Date and time the resource has been modifed the last time. \nUsed by caches, or in conditional requests.\n",
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request. \nInvalid request or validation error\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Forbidden. \nThe request must be conditional but no condition has been specified.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found. \nThe resource to be updated does not exist.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "412": {
                        "description": "Precondition Failed. \nThe request has not been performed because one of the preconditions is not met.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "delete": {
                "x-scope": "appm:create",
                "x-wso2-curl": "curl -X DELETE -H \"Authorization: Bearer f126676fc6fc2d2d7828220c992c9b15\" \"http://localhost:9763/api/appm/publisher/v1.0/apps/mobileapp/id/af929140-1257-46ed-97c0-d26098e140e9\"",
                "x-wso2-response": "HTTP/1.1 200 OK",
                "summary": "Delete App",
                "description": "Delete an existing App\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/appType"
                    },
                    {
                        "$ref": "#/parameters/appId"
                    },
                    {
                        "$ref": "#/parameters/If-Match"
                    },
                    {
                        "$ref": "#/parameters/If-Unmodified-Since"
                    }
                ],
                "tags": [
                    "Apps"
                ],
                "responses": {
                    "200": {
                        "description": "OK. \nResource successfully deleted.\n"
                    },
                    "403": {
                        "description": "Forbidden. \nThe request must be conditional but no condition has been specified.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found. \nResource to be deleted does not exist.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "412": {
                        "description": "Precondition Failed. \nThe request has not been performed because one of the preconditions is not met.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/apps/{appType}/id/{appId}/tags": {
            "get": {
                "x-scope": "appm:read",
                "x-wso2-curl": "curl -X GET -H \"Authorization: Bearer e099014668a524870c2895fe0595f125\"  \"http://localhost:9763/api/appm/store/v1.0/apps/webapp/tags\"",
                "x-wso2-response": "{\"tags\":[\"w1\",\"webapptag1\",\"webapptag2\"]}",
                "summary": "Get all Tags of an App",
                "description": "Get a list of available Tags relevant to given App Internal Id.\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/appType"
                    },
                    {
                        "$ref": "#/parameters/appId"
                    },
                    {
                        "$ref": "#/parameters/Accept"
                    },
                    {
                        "$ref": "#/parameters/If-None-Match"
                    }
                ],
                "tags": [
                    "Tags"
                ],
                "responses": {
                    "200": {
                        "description": "OK. \nList of Tags is returned.\n",
                        "schema": {
                            "$ref": "#/definitions/TagList"
                        },
                        "headers": {
                            "Content-Type": {
                                "description": "The content type of the body.",
                                "type": "string"
                            },
                            "ETag": {
                                "description": "Entity Tag of the response resource. Used by caches, or in conditional requests.\n",
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request. \nInvalid request or validation error.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Forbidden. \nThe request must be conditional but no condition has been specified.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found. \nThe resource to be updated does not exist.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "x-scope": "appm:create",
                "x-wso2-curl": "curl -X PUT -H \"Authorization: Bearer e099014668a524870c2895fe0595f125\" -d '{\"tags\":[\"tag1\"]}' \"http://localhost:9763/api/appm/publisher/v1.0/apps/webapp/id/80391fcb-45fc-4bb4-a83d-fc991a99084d/tags\"",
                "x-wso2-response": "HTTP/1.1 200 OK",
                "x-wso2-request": "{\"tags\":[\"tag1\"]}",
                "summary": "Add a new tag",
                "description": "Add a new tag into tag collection of a given application type.\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/appType"
                    },
                    {
                        "$ref": "#/parameters/appId"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Tag object that needs to be added\n",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TagList"
                        }
                    },
                    {
                        "$ref": "#/parameters/Content-Type"
                    },
                    {
                        "$ref": "#/parameters/If-Match"
                    },
                    {
                        "$ref": "#/parameters/If-Unmodified-Since"
                    }
                ],
                "tags": [
                    "Tags"
                ],
                "responses": {
                    "200": {
                        "description": "OK.\n"
                    },
                    "400": {
                        "description": "Bad Request. \nInvalid request or validation error\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Forbidden. \nThe request must be conditional but no condition has been specified.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found. \nThe resource to be updated does not exist.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "412": {
                        "description": "Precondition Failed. \nThe request has not been performed because one of the preconditions is not met.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "delete": {
                "x-scope": "appm:create",
                "x-wso2-curl": "curl -X DELETE -H \"Authorization: Bearer e099014668a524870c2895fe0595f125\"  -d '{\"tags\":[\"w2\"]}' \"http://localhost:9763/api/appm/publisher/v1.0/apps/webapp/id/80391fcb-45fc-4bb4-a83d-fc991a99084d/tags\"",
                "x-wso2-response": "HTTP/1.1 200 OK",
                "summary": "Delete Tags relevant to an App",
                "description": "Delete Tags relevant to an App by AppId.\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/appType"
                    },
                    {
                        "$ref": "#/parameters/appId"
                    },
                    {
                        "$ref": "#/parameters/If-Match"
                    },
                    {
                        "$ref": "#/parameters/If-Unmodified-Since"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Tag object that needs to be added\n",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TagList"
                        }
                    }
                ],
                "tags": [
                    "Tags"
                ],
                "responses": {
                    "200": {
                        "description": "OK. \nResource successfully deleted.\n"
                    },
                    "403": {
                        "description": "Forbidden. \nThe request must be conditional but no condition has been specified.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found. \nResource to be deleted does not exist.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "412": {
                        "description": "Precondition Failed. \nThe request has not been performed because one of the preconditions is not met.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/apps/{appType}/id/{appId}/subscriptions": {
            "get": {
                "x-scope": "appm:read",
                "x-wso2-curl": "curl -X GET -H \"Authorization: Bearer e099014668a524870c2895fe0595f125\" \"http://localhost:9763/api/appm/publisher/v1.0/apps/webapp/id/299a478a-0df3-488d-8677-8644f8255222/subscriptions\"",
                "x-wso2-response": "{\"userIds\":[\"admin\",\"user1\",\"user2\"]}",
                "summary": "Get subscribed user list for an App",
                "description": "Get subscribed user list for an App.\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/appType"
                    },
                    {
                        "$ref": "#/parameters/appId"
                    },
                    {
                        "$ref": "#/parameters/Accept"
                    },
                    {
                        "$ref": "#/parameters/If-None-Match"
                    },
                    {
                        "$ref": "#/parameters/If-Modified-Since"
                    }
                ],
                "tags": [
                    "Apps"
                ],
                "responses": {
                    "200": {
                        "description": "OK. \nQualifying User List is returned.\n",
                        "schema": {
                            "$ref": "#/definitions/UserIdList"
                        },
                        "headers": {
                            "Content-Type": {
                                "description": "The content type of the body.",
                                "type": "string"
                            },
                            "ETag": {
                                "description": "Entity Tag of the response resource. Used by caches, or in conditional requests.\n",
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request. \nInvalid request or validation error.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Forbidden. \nThe request must be conditional but no condition has been specified.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found. \nThe resource to be updated does not exist.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/apps/{appType}/id/{appId}/create-new-version": {
            "post": {
                "x-scope": "appm:create",
                "summary": "Create a new version of an App",
                "description": "Create a new version of an App\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/appType"
                    },
                    {
                        "$ref": "#/parameters/appId"
                    },
                    {
                        "$ref": "#/parameters/Content-Type"
                    },
                    {
                        "$ref": "#/parameters/If-Modified-Since"
                    }
                ],
                "tags": [
                    "Apps"
                ],
                "responses": {
                    "201": {
                        "description": "Created. \nSuccessful response with the newly created object as entity in the body. \nLocation header contains URL of newly created entity.\n",
                        "schema": {
                            "$ref": "#/definitions/App"
                        },
                        "headers": {
                            "Location": {
                                "description": "The URL of the newly created resource.\n",
                                "type": "string"
                            },
                            "Content-Type": {
                                "description": "The content type of the body.\n",
                                "type": "string"
                            },
                            "ETag": {
                                "description": "Entity Tag of the response resource. Used by caches, or in conditional request\n",
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request. \nInvalid request or validation error.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "415": {
                        "description": "Unsupported Media Type. \nThe entity of the request was in a not supported format.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/apps/{appType}/id/{appId}/lifecycle": {
            "get": {
                "x-scope": "appm:read",
                "x-wso2-curl": "curl -X GET -H \"Authorization: Bearer 0c0338592beefe7225bd6d869e93ca06\" \"http://localhost:9763/api/appm/publisher/v1.0/apps/webapp/id/c9ddf00d-c42f-4299-931c-bcda69c68050/lifecycle\"",
                "x-wso2-response": "{\"actions\":[\"Reject\",\"Approve\"],\"state\":\"IN-REVIEW\",\"async\":true}",
                "summary": "Get lifecycle details",
                "description": "Get lifecycle details of an App.\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/appType"
                    },
                    {
                        "$ref": "#/parameters/appId"
                    },
                    {
                        "$ref": "#/parameters/Accept"
                    },
                    {
                        "$ref": "#/parameters/If-None-Match"
                    }
                ],
                "tags": [
                    "Lifecycle"
                ],
                "responses": {
                    "200": {
                        "description": "OK. \nDetails of a lifecycle is returned.\n",
                        "schema": {
                            "$ref": "#/definitions/LifeCycle"
                        },
                        "headers": {
                            "Content-Type": {
                                "description": "The content type of the body.",
                                "type": "string"
                            },
                            "ETag": {
                                "description": "Entity Tag of the response resource. Used by caches, or in conditional requests.\n",
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request. \nInvalid request or validation error.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Forbidden. \nThe request must be conditional but no condition has been specified.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found. \nThe resource to be updated does not exist.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/apps/{appType}/id/{appId}/lifecycle-history": {
            "get": {
                "x-scope": "appm:read",
                "x-wso2-curl": "",
                "x-wso2-response": "",
                "summary": "Get lifecycle details",
                "description": "Get lifecycle details.\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/appType"
                    },
                    {
                        "$ref": "#/parameters/appId"
                    },
                    {
                        "$ref": "#/parameters/Accept"
                    },
                    {
                        "$ref": "#/parameters/If-None-Match"
                    }
                ],
                "tags": [
                    "Lifecycle"
                ],
                "responses": {
                    "200": {
                        "description": "OK. \nList of qualifying Apps is returned.\n",
                        "schema": {
                            "$ref": "#/definitions/LifeCycleHistoryList"
                        },
                        "headers": {
                            "Content-Type": {
                                "description": "The content type of the body.",
                                "type": "string"
                            },
                            "ETag": {
                                "description": "Entity Tag of the response resource. Used by caches, or in conditional requests.\n",
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request. \nInvalid request or validation error.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Forbidden. \nThe request must be conditional but no condition has been specified.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found. \nThe resource to be updated does not exist.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/apps/{appType}/id/{appId}/discover": {
            "post": {
                "x-scope": "appm:create",
                "x-wso2-curl": "",
                "x-wso2-response": "",
                "x-wso2-request": "",
                "summary": "Discover Apps",
                "description": "Discover Apps.\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/appType"
                    },
                    {
                        "$ref": "#/parameters/appId"
                    },
                    {
                        "$ref": "#/parameters/Content-Type"
                    },
                    {
                        "$ref": "#/parameters/If-Modified-Since"
                    }
                ],
                "tags": [
                    "Apps"
                ],
                "responses": {
                    "200": {
                        "description": "OK.\n"
                    },
                    "400": {
                        "description": "Bad Request. \nInvalid request or validation error.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "415": {
                        "description": "Unsupported Media Type. \nThe entity of the request was in a not supported format.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/apps/{appType}/id/{appId}/throttlingtiers": {
            "get": {
                "x-scope": "appm:read",
                "x-wso2-curl": "curl -X GET -H \"Authorization: Bearer 0c0338592beefe7225bd6d869e93ca06\" \"http://localhost:9763/api/appm/publisher/v1.0/apps/webapp/id/65c8485d-11d9-4f05-a418-17dfb737e165/throttlingtiers\"",
                "x-wso2-response": "{\"tierList\":[{\"tierSortKey\":1,\"tierName\":\"Bronze\",\"tierDisplayName\":\"Bronze\",\"tierDescription\":\"Allows 1 request(s) per minute.\"},{\"tierSortKey\":20,\"tierName\":\"Gold\",\"tierDisplayName\":\"Gold\",\"tierDescription\":\"Allows 20 request(s) per minute.\"},{\"tierSortKey\":5,\"tierName\":\"Silver\",\"tierDisplayName\":\"Silver\",\"tierDescription\":\"Allows 5 request(s) per minute.\"},{\"tierSortKey\":10000,\"tierName\":\"Unlimited\",\"tierDisplayName\":\"Unlimited\",\"tierDescription\":\"Allows unlimited requests\"}]}",
                "summary": "Get all Tiers",
                "description": "Get a list of Tiers.\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/appType"
                    },
                    {
                        "$ref": "#/parameters/appId"
                    },
                    {
                        "$ref": "#/parameters/Accept"
                    },
                    {
                        "$ref": "#/parameters/If-None-Match"
                    }
                ],
                "tags": [
                    "Tiers"
                ],
                "responses": {
                    "200": {
                        "description": "OK. \nList of Tiers is returned.\n",
                        "schema": {
                            "$ref": "#/definitions/TierList"
                        },
                        "headers": {
                            "Content-Type": {
                                "description": "The content type of the body.",
                                "type": "string"
                            },
                            "ETag": {
                                "description": "Entity Tag of the response resource. Used by caches, or in conditional requests.\n",
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request. \nInvalid request or validation error.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Forbidden. \nThe request must be conditional but no condition has been specified.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found. \nThe resource to be updated does not exist.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/apps/{appType}/id/{appId}/docs/{documentId}/content": {
            "post": {
                "consumes": [
                    "multipart/form-data"
                ],
                "x-scope": "appm:create",
                "x-wso2-curl": "",
                "x-wso2-response": "",
                "x-wso2-request": "",
                "summary": "Uploading document",
                "description": "Uploading document files against an App.\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/appType"
                    },
                    {
                        "$ref": "#/parameters/appId"
                    },
                    {
                        "$ref": "#/parameters/documentId"
                    },
                    {
                        "in": "formData",
                        "name": "file",
                        "description": "Document to upload",
                        "type": "file",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "inlineContent",
                        "description": "Inline content of the document",
                        "type": "string",
                        "required": false
                    },
                    {
                        "$ref": "#/parameters/If-Match"
                    },
                    {
                        "$ref": "#/parameters/If-Unmodified-Since"
                    }
                ],
                "tags": [
                    "App Documents"
                ],
                "responses": {
                    "200": {
                        "description": "OK. \nDocument uploaded successfully.\n",
                        "schema": {
                            "$ref": "#/definitions/StaticContent"
                        },
                        "headers": {
                            "ETag": {
                                "description": "Entity Tag of the changed App. Used by caches, or in conditional request.\n",
                                "type": "string"
                            },
                            "Last-Modified": {
                                "description": "Date and time the resource has been modified the last. \nUsed by caches, or in conditional requests.\n",
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request. \nInvalid request or validation error\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found. \nRequested entity does not exist.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/apps/{appType}/id/{appId}/docs": {
            "get": {
                "x-scope": "appm:read",
                "x-wso2-curl": "curl -H \"Authorization: Bearer b0982cd2aacd463ff5f63cd5ebe58f4a\" \"http://127.0.0.1:9763/apps/webapp/id/8328392-d88d-dwu9-333r-r3\"",
                "x-wso2-response": "HTTP/1.1 200 OK\nContent-Type: application/json\n\n{\n   \"previous\": \"\",\n   \"list\":    [\n            {\n         \"visibility\": \"API_LEVEL\",\n         \"sourceType\": \"INLINE\",\n         \"sourceUrl\": null,\n         \"otherTypeName\": null,\n         \"documentId\": \"0bcb7f05-599d-4e1a-adce-5cb89bfe58d5\",\n         \"summary\": \"This is a sample documentation for v1.0.0\",\n         \"name\": \"PhoneVerification API Documentation\",\n         \"type\": \"HOWTO\"\n      },\n            {\n         \"visibility\": \"API_LEVEL\",\n         \"sourceType\": \"URL\",\n         \"sourceUrl\": \"http://wiki.cdyne.com/index.php/Phone_Verification\",\n         \"otherTypeName\": null,\n         \"documentId\": \"4145df31-04f1-440c-8d08-68952874622c\",\n         \"summary\": \"This is the URL for online documentation\",\n         \"name\": \"Online Documentation\",\n         \"type\": \"SAMPLES\"\n      }\n   ],\n   \"next\": \"\",\n   \"count\": 2\n}",
                "summary": "Get API Documents",
                "description": "Get a list of documents belonging to an API.\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/appType"
                    },
                    {
                        "$ref": "#/parameters/appId"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/Accept"
                    },
                    {
                        "$ref": "#/parameters/If-None-Match"
                    }
                ],
                "tags": [
                    "API Document"
                ],
                "responses": {
                    "200": {
                        "description": "OK. \nDocument list is returned.\n",
                        "schema": {
                            "$ref": "#/definitions/DocumentList"
                        },
                        "headers": {
                            "Content-Type": {
                                "description": "The content type of the body.\n",
                                "type": "string"
                            },
                            "ETag": {
                                "description": "Entity Tag of the response resource. Used by caches, or in conditional requests.\n",
                                "type": "string"
                            }
                        }
                    },
                    "304": {
                        "description": "Not Modified. \nEmpty body because the client has already the latest version of the requested resource.\n"
                    },
                    "404": {
                        "description": "Not Found. \nRequested API does not exist.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "406": {
                        "description": "Not Acceptable. \nThe requested media type is not supported\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "post": {
                "x-scope": "appm:create",
                "x-wso2-curl": "curl -H \"Authorization: Bearer cdcc8cf6016ed10620edf3a1d3c5ef2b\" -H \"Content-Type: application/json\" -X POST -d @data.json \"http://127.0.0.1:9763/api/am/publisher/v0.9/apis/96077508-fd01-4fae-bc64-5de0e2baf43c/documents\"",
                "x-wso2-request": "{\n    \"visibility\": \"API_LEVEL\",\n    \"sourceType\": \"INLINE\",\n    \"sourceUrl\": null,\n    \"otherTypeName\": null,\n    \"summary\": \"This is a sample documentation\",\n    \"name\": \"Introduction to PhoneVerification API\",\n    \"type\": \"HOWTO\"\n}",
                "x-wso2-response": "HTTP/1.1 201 Created\nLocation: http://localhost:9763/api/am/publisher/v0.9/apis/890a4f4d-09eb-4877-a323-57f6ce2ed79b/documents/ffd5790d-b7a9-4cb6-b76a-f8b83ecdd058\nContent-Type: application/json\n\n{\n   \"visibility\": \"API_LEVEL\",\n   \"sourceType\": \"INLINE\",\n   \"sourceUrl\": null,\n   \"otherTypeName\": null,\n   \"documentId\": \"ffd5790d-b7a9-4cb6-b76a-f8b83ecdd058\",\n   \"summary\": \"This is a sample documentation\",\n   \"name\": \"Introduction to PhoneVerification API\",\n   \"type\": \"HOWTO\"\n}",
                "summary": "Add a new document",
                "description": "Add a new document to an API\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/appId"
                    },
                    {
                        "$ref": "#/parameters/appType"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "description": "Document object that needs to be added\n",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Document"
                        }
                    },
                    {
                        "$ref": "#/parameters/Content-Type"
                    }
                ],
                "tags": [
                    "API Document"
                ],
                "responses": {
                    "201": {
                        "description": "Created. \nSuccessful response with the newly created Document object as entity in the body. \nLocation header contains URL of newly added document.\n",
                        "schema": {
                            "$ref": "#/definitions/Document"
                        },
                        "headers": {
                            "Location": {
                                "description": "Location to the newly created Document.\n",
                                "type": "string"
                            },
                            "Content-Type": {
                                "description": "The content type of the body.\n",
                                "type": "string"
                            },
                            "ETag": {
                                "description": "Entity Tag of the response resource. \nUsed by caches, or in conditional request.\n",
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request. \nInvalid request or validation error\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "415": {
                        "description": "Unsupported media type. \nThe entity of the request was in a not supported format.\n"
                    }
                }
            }
        },
        "/apps/{appType}/id/{appId}/docs/{documentId}": {
            "get": {
                "x-scope": "appm:read",
                "x-wso2-curl": "",
                "x-wso2-response": "",
                "summary": "Retrieving document",
                "description": "Retrieving document.\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/appType"
                    },
                    {
                        "$ref": "#/parameters/appId"
                    },
                    {
                        "$ref": "#/parameters/documentId"
                    },
                    {
                        "$ref": "#/parameters/If-Match"
                    },
                    {
                        "$ref": "#/parameters/If-Unmodified-Since"
                    }
                ],
                "tags": [
                    "App Documents"
                ],
                "responses": {
                    "200": {
                        "description": "OK. \nDocument Retrieved successfully.\n",
                        "schema": {
                            "type": "file"
                        },
                        "headers": {
                            "ETag": {
                                "description": "Entity Tag of the changed App. Used by caches, or in conditional request.\n",
                                "type": "string"
                            },
                            "Last-Modified": {
                                "description": "Date and time the resource has been modified the last. \nUsed by caches, or in conditional requests.\n",
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request. \nInvalid request or validation error\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found. \nRequested entity does not exist.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "412": {
                        "description": "Precondition Failed. \nThe request has not been performed because one of the preconditions is not met.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "delete": {
                "x-scope": "appm:create",
                "x-wso2-curl": "",
                "x-wso2-response": "HTTP/1.1 200 OK",
                "summary": "Delete Document",
                "description": "Delete an existing Document\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/appType"
                    },
                    {
                        "$ref": "#/parameters/appId"
                    },
                    {
                        "$ref": "#/parameters/documentId"
                    },
                    {
                        "$ref": "#/parameters/If-Match"
                    },
                    {
                        "$ref": "#/parameters/If-Unmodified-Since"
                    }
                ],
                "tags": [
                    "Apps"
                ],
                "responses": {
                    "200": {
                        "description": "OK. \nResource successfully deleted.\n"
                    },
                    "403": {
                        "description": "Forbidden. \nThe request must be conditional but no condition has been specified.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found. \nResource to be deleted does not exist.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/apps/{appType}/change-lifecycle": {
            "post": {
                "summary": "Change App Status",
                "x-scope": "appm:publish",
                "x-wso2-curl": "",
                "x-wso2-response": "",
                "description": "Change the lifecycle of an App\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/appType"
                    },
                    {
                        "name": "action",
                        "description": "The action to demote or promote the state of the App.\n\n\n\n\nSupported actions are [ **Publish,Approve,Reject,Unpublish,Deprecate,Retire,Recycle,Re-Publish,Submit#for#Review **]\n",
                        "in": "query",
                        "type": "string",
                        "required": true,
                        "enum": [
                            "Publish",
                            "Approve",
                            "Reject",
                            "Unpublish",
                            "Deprecate",
                            "Retire",
                            "Recycle",
                            "Re-Publish",
                            "Submit#for#Review"
                        ]
                    },
                    {
                        "$ref": "#/parameters/appId-Q"
                    },
                    {
                        "$ref": "#/parameters/If-Match"
                    },
                    {
                        "$ref": "#/parameters/If-Unmodified-Since"
                    }
                ],
                "tags": [
                    "Apps"
                ],
                "responses": {
                    "202": {
                        "schema": {
                            "$ref": "#/definitions/ResponseMessage"
                        },
                        "description": "OK. \nLifecycle changed successfully.\n",
                        "headers": {
                            "ETag": {
                                "description": "Entity Tag of the App. Used by caches, or in conditional request.\n",
                                "type": "string"
                            },
                            "Last-Modified": {
                                "description": "Date and time the App lifecycle has been modified the last time. \nUsed by caches, or in conditional requests.\n",
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request. \nInvalid request or validation error\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found. \nRequested App does not exist.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "412": {
                        "description": "Precondition Failed. \nThe request has not been performed because one of the preconditions is not met.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/apps/{appType}/validate-context": {
            "post": {
                "x-scope": "appm:create",
                "x-wso2-curl": "",
                "x-wso2-response": "",
                "summary": "Validate App Context",
                "description": "Validate App Context.\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/appType"
                    },
                    {
                        "$ref": "#/parameters/appContext"
                    },
                    {
                        "$ref": "#/parameters/Content-Type"
                    },
                    {
                        "$ref": "#/parameters/If-Modified-Since"
                    }
                ],
                "tags": [
                    "App"
                ],
                "responses": {
                    "200": {
                        "description": "OK.\n"
                    },
                    "400": {
                        "description": "Bad Request. \nInvalid request or validation error.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "415": {
                        "description": "Unsupported Media Type. \nThe entity of the request was in a not supported format.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/apps/{appType}/stats/{statType}": {
            "get": {
                "x-scope": "appm:read",
                "x-wso2-curl": "",
                "x-wso2-response": "",
                "x-wso2-request": "",
                "summary": "Get Stat summary",
                "description": "Get Stat summary results.\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/appType"
                    },
                    {
                        "$ref": "#/parameters/statType"
                    },
                    {
                        "name": "startTimeStamp",
                        "description": "Start date/time of the stat analysis (2016-04-19#10:32:00)",
                        "in": "query",
                        "type": "string",
                        "required": false
                    },
                    {
                        "name": "endTimeStamp",
                        "description": "End date/time of the stat analysis (2016-04-19#10:32:00)",
                        "in": "query",
                        "type": "string",
                        "required": false
                    },
                    {
                        "name": "limit",
                        "description": "Limit of records",
                        "in": "query",
                        "type": "integer",
                        "required": false
                    },
                    {
                        "$ref": "#/parameters/Accept"
                    },
                    {
                        "$ref": "#/parameters/If-None-Match"
                    }
                ],
                "tags": [
                    "Tags"
                ],
                "responses": {
                    "200": {
                        "description": "OK.\n",
                        "schema": {
                            "$ref": "#/definitions/StatSummary"
                        },
                        "headers": {
                            "Content-Type": {
                                "description": "The content type of the body.",
                                "type": "string"
                            },
                            "ETag": {
                                "description": "Entity Tag of the response resource. Used by caches, or in conditional requests.\n",
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request. \nInvalid request or validation error.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Forbidden. \nThe request must be conditional but no condition has been specified.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found. \nThe resource to be updated does not exist.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/apps/{appType}/tags": {
            "get": {
                "x-scope": "appm:read",
                "x-wso2-curl": "curl -X GET -H \"Authorization: Bearer 0c0338592beefe7225bd6d869e93ca06\" \"http://localhost:9763/api/appm/publisher/v1.0/apps/webapp/tags\"",
                "x-wso2-response": "[{\"name\":\"webapptag1\",\"noOfOccurrences\":1},{\"name\":\"webapptag2\",\"noOfOccurrences\":1},{\"name\":\"webapptag3\",\"noOfOccurrences\":1}]",
                "summary": "Get all Tags",
                "description": "Get a list of available Tags relevant to given App Type.\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/appType"
                    },
                    {
                        "$ref": "#/parameters/Accept"
                    },
                    {
                        "$ref": "#/parameters/If-None-Match"
                    }
                ],
                "tags": [
                    "Tags"
                ],
                "responses": {
                    "200": {
                        "description": "OK. \nList of Tags is returned.\n",
                        "schema": {
                            "$ref": "#/definitions/TagList"
                        },
                        "headers": {
                            "Content-Type": {
                                "description": "The content type of the body.",
                                "type": "string"
                            },
                            "ETag": {
                                "description": "Entity Tag of the response resource. Used by caches, or in conditional requests.\n",
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request. \nInvalid request or validation error.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Forbidden. \nThe request must be conditional but no condition has been specified.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found. \nThe resource to be updated does not exist.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/apps/mobile/binaries": {
            "post": {
                "consumes": [
                    "multipart/form-data"
                ],
                "x-scope": "appm:create",
                "x-wso2-curl": "",
                "x-wso2-response": "",
                "x-wso2-request": "",
                "summary": "Uploading binary files",
                "description": "Uploading .apk/.IPA binary files.\n",
                "parameters": [
                    {
                        "in": "formData",
                        "name": "file",
                        "description": "Document to upload",
                        "type": "file",
                        "required": false
                    },
                    {
                        "$ref": "#/parameters/If-Match"
                    },
                    {
                        "$ref": "#/parameters/If-Unmodified-Since"
                    }
                ],
                "tags": [
                    "MobileApps"
                ],
                "responses": {
                    "200": {
                        "description": "OK. \nBinary file uploaded successfully.\n",
                        "schema": {
                            "$ref": "#/definitions/Binary"
                        },
                        "headers": {
                            "ETag": {
                                "description": "Entity Tag of the changed App. Used by caches, or in conditional request.\n",
                                "type": "string"
                            },
                            "Last-Modified": {
                                "description": "Date and time the resource has been modified the last. \nUsed by caches, or in conditional requests.\n",
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request. \nInvalid request or validation error\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found. \nRequested App does not exist.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "412": {
                        "description": "Precondition Failed. \nThe request has not been performed because one of the preconditions is not met.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/apps/mobile/binaries/{fileName}": {
            "get": {
                "x-scope": "appm:create",
                "x-wso2-curl": "",
                "x-wso2-response": "",
                "summary": "Retrieving mobile application binaries",
                "description": "Retrieving .apk, .ipa binaries for mobile apps.\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/fileName"
                    },
                    {
                        "$ref": "#/parameters/If-Match"
                    },
                    {
                        "$ref": "#/parameters/If-Unmodified-Since"
                    }
                ],
                "tags": [
                    "MobileApps"
                ],
                "responses": {
                    "200": {
                        "description": "OK. \nMobile app binary content retrieved successfully.\n",
                        "schema": {
                            "type": "file"
                        },
                        "headers": {
                            "ETag": {
                                "description": "Entity Tag of the changed App. Used by caches, or in conditional request.\n",
                                "type": "string"
                            },
                            "Last-Modified": {
                                "description": "Date and time the resource has been modified the last. \nUsed by caches, or in conditional requests.\n",
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request. \nInvalid request or validation error\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found. \nRequested entity does not exist.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "412": {
                        "description": "Precondition Failed. \nThe request has not been performed because one of the preconditions is not met.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/apps/mobile/getplist/tenant/{tenantId}/file/{fileName}": {
            "get": {
                "x-scope": "appm:read",
                "x-wso2-curl": "",
                "x-wso2-response": "",
                "summary": "Get plist",
                "description": "Plist file of the specified iOS (Apple) mobile app.\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantId"
                    },
                    {
                        "$ref": "#/parameters/fileName"
                    },
                    {
                        "$ref": "#/parameters/Accept"
                    },
                    {
                        "$ref": "#/parameters/If-None-Match"
                    }
                ],
                "tags": [
                    "Apps"
                ],
                "responses": {
                    "200": {
                        "description": "OK.\n",
                        "schema": {
                            "$ref": "#/definitions/PList"
                        },
                        "headers": {
                            "Content-Type": {
                                "description": "The content type of the body.",
                                "type": "string"
                            },
                            "ETag": {
                                "description": "Entity Tag of the response resource. Used by caches, or in conditional requests.\n",
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request. \nInvalid request or validation error.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Forbidden. \nThe request must be conditional but no condition has been specified.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found. \nThe resource to be updated does not exist.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/apps/static-contents": {
            "post": {
                "consumes": [
                    "multipart/form-data"
                ],
                "x-scope": "appm:create",
                "x-wso2-curl": "",
                "x-wso2-response": "",
                "x-wso2-request": "",
                "summary": "Uploading images, pdf, documents files",
                "description": "Uploading images for banners, screenshots etc.\n",
                "parameters": [
                    {
                        "in": "formData",
                        "name": "file",
                        "description": "Document to upload",
                        "type": "file",
                        "required": false
                    },
                    {
                        "name": "appType",
                        "description": "Application type",
                        "in": "query",
                        "type": "string",
                        "required": true
                    },
                    {
                        "$ref": "#/parameters/If-Match"
                    },
                    {
                        "$ref": "#/parameters/If-Unmodified-Since"
                    }
                ],
                "tags": [
                    "MobileApps"
                ],
                "responses": {
                    "200": {
                        "description": "OK. \nStatic content uploaded successfully.\n",
                        "schema": {
                            "$ref": "#/definitions/StaticContent"
                        },
                        "headers": {
                            "ETag": {
                                "description": "Entity Tag of the changed App. Used by caches, or in conditional request.\n",
                                "type": "string"
                            },
                            "Last-Modified": {
                                "description": "Date and time the resource has been modified the last. \nUsed by caches, or in conditional requests.\n",
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request. \nInvalid request or validation error\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found. \nRequested entity does not exist.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "412": {
                        "description": "Precondition Failed. \nThe request has not been performed because one of the preconditions is not met.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/apps/static-contents/{fileName}": {
            "get": {
                "x-scope": "appm:read",
                "x-wso2-curl": "",
                "x-wso2-response": "",
                "summary": "Retrieving images, pdf, documents files",
                "description": "Retrieving images for banners, screenshots etc.\n",
                "parameters": [
                    {
                        "name": "appType",
                        "description": "Application type",
                        "in": "query",
                        "type": "string",
                        "required": true
                    },
                    {
                        "$ref": "#/parameters/fileName"
                    },
                    {
                        "$ref": "#/parameters/If-Match"
                    },
                    {
                        "$ref": "#/parameters/If-Unmodified-Since"
                    }
                ],
                "tags": [
                    "MobileApps"
                ],
                "responses": {
                    "200": {
                        "description": "OK. \nStatic content Retrieved successfully.\n",
                        "schema": {
                            "type": "file"
                        },
                        "headers": {
                            "ETag": {
                                "description": "Entity Tag of the changed App. Used by caches, or in conditional request.\n",
                                "type": "string"
                            },
                            "Last-Modified": {
                                "description": "Date and time the resource has been modified the last. \nUsed by caches, or in conditional requests.\n",
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request. \nInvalid request or validation error\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found. \nRequested entity does not exist.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "412": {
                        "description": "Precondition Failed. \nThe request has not been performed because one of the preconditions is not met.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/xacmlpolicies/": {
            "get": {
                "x-scope": "appm:create",
                "x-wso2-curl": "curl -X GET -H \"Authorization: Bearer e819870696cc39494d12841b5094a411\" \"http://localhost:9763/api/appm/publisher/v1.0/xacmlpolicies\"",
                "x-wso2-response": "{\"policyPartial\": \"<Rule Effect=\"Permit\" RuleId=\"Rule001\"><Condition>\n      <Apply FunctionId=\"urn:oasis:names:tc:xacml:1.0:function:any-of\">\n         <Function FunctionId=\"urn:oasis:names:tc:xacml:1.0:function:string-equal\"/>\n         <AttributeValue DataType=\"http://www.w3.org/2001/XMLSchema#string\">admin</AttributeValue>\n         <AttributeDesignator AttributeId=\"http://wso2.org/claims/role\" Category=\"urn:oasis:names:tc:xacml:1.0:subject-category:access-subject\" DataType=\"http://www.w3.org/2001/XMLSchema#string\" MustBePresent=\"true\"/>\n      </Apply>\n</Condition>\n</Rule>\",\"policyPartialName\": policy1,\"isSharedPartial\": true,\"policyPartialDesc\": null,,\"policyPartialId\": 1}",
                "summary": "Get all XACML policies",
                "description": "Get a list of XACML policies.\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/Accept"
                    },
                    {
                        "$ref": "#/parameters/If-None-Match"
                    }
                ],
                "tags": [
                    "XACMLPolicies"
                ],
                "responses": {
                    "200": {
                        "description": "OK. \nList of XACML policies is returned.\n",
                        "schema": {
                            "$ref": "#/definitions/PolicyPartialList"
                        },
                        "headers": {
                            "Content-Type": {
                                "description": "The content type of the body.",
                                "type": "string"
                            },
                            "ETag": {
                                "description": "Entity Tag of the response resource. Used by caches, or in conditional requests.\n",
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request. \nInvalid request or validation error.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Forbidden. \nThe request must be conditional but no condition has been specified.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found. \nThe resource to be updated does not exist.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/xacmlpolicies/{policyPartialId}/apps/{appType}": {
            "get": {
                "x-scope": "appm:read",
                "x-wso2-curl": "curl -X GET -H \"Authorization: Bearer 64697c7a75c8db3a5b852aa7786b024b\"  \"http://localhost:9763/api/appm/publisher/v1.0/xacmlpolicies/38/apps/webapp\"",
                "x-wso2-response": "{\"previous\":\"\",\"next\":\"\",\"count\":2,\"appList\":[{\"name\":\"app1\",\"context\":null,\"id\":\"af929140-1257-46ed-97c0-d26098e140e9\",\"rating\":0.0,\"lifecycleState\":\"IN-REVIEW\",\"provider\":\"admin\",\"description\":\"asdasd\",\"version\":\"1\"},{\"name\":\"app2\",\"context\":null,\"id\":\"5c9c8551-d696-4c44-85a6-dcd86f1a1e25\",\"rating\":0.0,\"lifecycleState\":\"CREATED\",\"provider\":\"admin\",\"description\":\"phone\",\"version\":\"1.0\"}]}",
                "summary": "Get all Apps mapped to a policy partial",
                "description": "Get a list of available Apps mapped to a policy partial.\n",
                "parameters": [
                    {
                        "$ref": "#/parameters/policyPartialId"
                    },
                    {
                        "$ref": "#/parameters/appType"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/Accept"
                    },
                    {
                        "$ref": "#/parameters/If-None-Match"
                    }
                ],
                "tags": [
                    "Apps"
                ],
                "responses": {
                    "200": {
                        "description": "OK. \nList of qualifying Apps is returned.\n",
                        "schema": {
                            "$ref": "#/definitions/AppList"
                        },
                        "headers": {
                            "Content-Type": {
                                "description": "The content type of the body.",
                                "type": "string"
                            },
                            "ETag": {
                                "description": "Entity Tag of the response resource. Used by caches, or in conditional requests.\n",
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request. \nInvalid request or validation error.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "403": {
                        "description": "Forbidden. \nThe request must be conditional but no condition has been specified.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "404": {
                        "description": "Not Found. \nThe resource to be updated does not exist.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/administration/xacmlpolicies/validate": {
            "post": {
                "x-scope": "appm:administration",
                "x-wso2-curl": "curl -X POST -H \"Authorization: Bearer 2719fd2c8aace567c7ce50301f785d99\" -d '{  \"policyPartial\": \"<Rule Effect=\"Permit\" RuleId=\"Rule001\"><Condition>\n      <Apply FunctionId=\"urn:oasis:names:tc:xacml:1.0:function:any-of\">\n         <Function FunctionId=\"urn:oasis:names:tc:xacml:1.0:function:string-equal\"/>\n         <AttributeValue DataType=\"http://www.w3.org/2001/XMLSchema#string\">admin</AttributeValue>\n         <AttributeDesignator AttributeId=\"http://wso2.org/claims/role\" Category=\"urn:oasis:names:tc:xacml:1.0:subject-category:access-subject\" DataType=\"http://www.w3.org/2001/XMLSchema#string\" MustBePresent=\"true\"/>\n      </Apply>\n</Condition></Rule>\"}' \"http://localhost:9763/api/appm/publisher/v1.0/administration/xacmlpolicies/validate\"",
                "x-wso2-response": "HTTP/1.1 200 OK",
                "x-wso2-request": "{\"policyPartial\": \"<Rule Effect=\"Permit\" RuleId=\"Rule001\"><Condition>\n      <Apply FunctionId=\"urn:oasis:names:tc:xacml:1.0:function:any-of\">\n         <Function FunctionId=\"urn:oasis:names:tc:xacml:1.0:function:string-equal\"/>\n         <AttributeValue DataType=\"http://www.w3.org/2001/XMLSchema#string\">admin</AttributeValue>\n         <AttributeDesignator AttributeId=\"http://wso2.org/claims/role\" Category=\"urn:oasis:names:tc:xacml:1.0:subject-category:access-subject\" DataType=\"http://www.w3.org/2001/XMLSchema#string\" MustBePresent=\"true\"/>\n      </Apply>\n</Condition></Rule>\"}",
                "summary": "Validate Policy content",
                "description": "Create a new App\n",
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "PolicyPartial object that needs to be added\n",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PolicyPartial"
                        }
                    },
                    {
                        "$ref": "#/parameters/Content-Type"
                    },
                    {
                        "$ref": "#/parameters/If-Modified-Since"
                    }
                ],
                "tags": [
                    "XACMLPolicies"
                ],
                "responses": {
                    "200": {
                        "description": "OK.\n"
                    },
                    "400": {
                        "description": "Bad Request. \nInvalid request or validation error.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "415": {
                        "description": "Unsupported Media Type. \nThe entity of the request was in a not supported format.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/administration/xacmlpolicies/": {
            "post": {
                "x-scope": "appm:administration",
                "x-wso2-curl": "curl -X POST -H \"Authorization: Bearer 5e3e12917945881407eaad1868ea4629\" -d '{ \"policyPartial\": \"<Rule Effect=\"Permit\" RuleId=\"Rule001\"><Condition>\n      <Apply FunctionId=\"urn:oasis:names:tc:xacml:1.0:function:any-of\">\n         <Function FunctionId=\"urn:oasis:names:tc:xacml:1.0:function:string-equal\"/>\n         <AttributeValue DataType=\"http://www.w3.org/2001/XMLSchema#string\">admin</AttributeValue>\n         <AttributeDesignator AttributeId=\"http://wso2.org/claims/role\" Category=\"urn:oasis:names:tc:xacml:1.0:subject-category:access-subject\" DataType=\"http://www.w3.org/2001/XMLSchema#string\" MustBePresent=\"true\"/>\n      </Apply>\n</Condition>\n</Rule>\",\"policyPartialName\": \"ddd\",  \"isSharedPartial\": true,  \"policyPartialDesc\": null}' \"http://localhost:9763/api/appm/publisher/v1.0/administration/xacmlpolicies\"",
                "x-wso2-response": "{\"policyPartial\": \"<Rule Effect=\"Permit\" RuleId=\"Rule001\"><Condition>\n      <Apply FunctionId=\"urn:oasis:names:tc:xacml:1.0:function:any-of\">\n         <Function FunctionId=\"urn:oasis:names:tc:xacml:1.0:function:string-equal\"/>\n         <AttributeValue DataType=\"http://www.w3.org/2001/XMLSchema#string\">admin</AttributeValue>\n         <AttributeDesignator AttributeId=\"http://wso2.org/claims/role\" Category=\"urn:oasis:names:tc:xacml:1.0:subject-category:access-subject\" DataType=\"http://www.w3.org/2001/XMLSchema#string\" MustBePresent=\"true\"/>\n      </Apply>\n</Condition>\n</Rule>\",\"policyPartialName\": \"ddd\",\"isSharedPartial\": true,\"policyPartialDesc\": null,\"policyPartialIc\": 2}",
                "x-wso2-request": "{\"policyPartial\": \"<Rule Effect=\"Permit\" RuleId=\"Rule001\"><Condition>\n      <Apply FunctionId=\"urn:oasis:names:tc:xacml:1.0:function:any-of\">\n         <Function FunctionId=\"urn:oasis:names:tc:xacml:1.0:function:string-equal\"/>\n         <AttributeValue DataType=\"http://www.w3.org/2001/XMLSchema#string\">admin</AttributeValue>\n         <AttributeDesignator AttributeId=\"http://wso2.org/claims/role\" Category=\"urn:oasis:names:tc:xacml:1.0:subject-category:access-subject\" DataType=\"http://www.w3.org/2001/XMLSchema#string\" MustBePresent=\"true\"/>\n      </Apply>\n</Condition>\n</Rule>\",\"policyPartialName\": \"ddd\",\"isSharedPartial\": true,\"policyPartialDesc\": null}",
                "summary": "Create a new Policy Partial",
                "description": "Create a new Policy Partial.\n",
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "PolicyPartial object that needs to be added\n",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PolicyPartial"
                        }
                    },
                    {
                        "$ref": "#/parameters/Content-Type"
                    },
                    {
                        "$ref": "#/parameters/If-Modified-Since"
                    }
                ],
                "tags": [
                    "XACMLPolicies"
                ],
                "responses": {
                    "201": {
                        "description": "Created. \nSuccessful response with the newly created object as entity in the body. \nLocation header contains URL of newly created entity.\n",
                        "schema": {
                            "$ref": "#/definitions/PolicyPartial"
                        },
                        "headers": {
                            "Location": {
                                "description": "The URL of the newly created resource.\n",
                                "type": "string"
                            },
                            "Content-Type": {
                                "description": "The content type of the body.\n",
                                "type": "string"
                            },
                            "ETag": {
                                "description": "Entity Tag of the response resource. Used by caches, or in conditional request\n",
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request. \nInvalid request or validation error.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    },
                    "415": {
                        "description": "Unsupported Media Type. \nThe entity of the request was in a not supported format.\n",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/administration/xacmlpolicies/{policyPartialId}": {
            "put": {
                "x-scope": "appm:administration",
[...]
