<a id="my-apps-link" href="{{tenantedUrl "extensions/extensions/assets/webapp/myapps"}}"
   class="{{#if active}}active{{/if}} purple">
    <span class="icon"><i class="fw fw-application"></i></span>
    <span class="navigation-item hidden-xs hidden-sm">{{t "My Apps"}}</span>
</a>