{{#if data}}
<div class="row visible-lg">
          <h3>{{t "Tags"}}</h3>
            <hr>
        <div class="tags">
            <ul>{{#each .}}
                {{#each data}}
                    <li>
                        <a class="tag" href="{{url ../this.url}}{{name}}">{{name}}</a>
                    </li>
                {{/each}}
                {{/each}}
            </ul>
        </div>


</div>\
{{/if}}