<div class="no-apps">
    <div class="jumbotron">
        <h2>
            <span class="fw fw-warning"></span> Sorry, We could not find any apps for you!
        </h2>

        <p class="lead add-padding-top-3x text-muted">
            What can I do now?.
        </p>
    </div>
</div>