<div class="no-apps">
    <div class="jumbotron">
        <h1>
            <span class="fw fw-warning"></span> No Apps Here!
        </h1>

        <p class="lead add-padding-top-3x text-muted">
            Sorry, We could not find any apps for you.
        </p>
    </div>
</div>