<div class="modal fade" id="register-modal">
    <div class="modal-dialog-register">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Register</h4>
            </div>
            <div class="modal-body">

                <div id="register-alert" class="alert alert-error"></div>

                <form id="form-register">
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Username:</label>
                        <input id="inp-username-register" type="text" name="username" class="form-control required"
                               placeholder="{{t "Enter a Username"}}">
                    </div>
                    <div class="form-group">
                        <label for="action-text" class="control-label">Password:</label>
                        <input id="inp-password-register" type="password" name="password" class="form-control required"
                               placeholder="{{t "Enter Password"}}">
                    </div>
                    <div class="form-group">
                        <label for="action-text" class="control-label">Confirm Password:</label>
                        <input  id="inp-password-confirm" type="password" name="password" class="form-control required"
                                placeholder="{{t "Confirm Password"}}">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" id="btn-register-submit" class="btn btn-primary btn-large">
                    {{t "Register"}}
                </a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->