{{!-- search --}}
<nav class="search-bar navbar navbar-default">
    <div class="search-box col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <div class="input-group">
            <input type="text" id="searchTxt" value="{{search}}" class="search-field form-control"
                   placeholder="Search for web apps" />

            <div class="input-group-btn">
                <button type="button" class="btn">
                    <i class="fw fw-search"></i>
                </button>
                <button type="button" id="searchSelect" class="btn dropdown-toggle search-by" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"
                        {{#ifCond searchTerm "==" "overview_name"}}data-value="Name"{{/ifCond}}
                        {{#ifCond searchTerm "==" "overview_provider"}}data-value="Provider"{{/ifCond}}>
                    {{#ifCond searchTerm "==" "overview_name"}}
                        By Name
                    {{/ifCond}}
                    {{#ifCond searchTerm "==" "overview_provider"}}
                        By Provider
                    {{/ifCond}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right dropdown-selectable search-by-dropdown"
                    data-target="#searchSelect">
                    <li data-value="Name"><a>By Name</a></li>
                    <li data-value="Provider"><a>By Provider</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>