{{!-- search --}}
<nav class="search-bar navbar navbar-default">
    <div class="search-box col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <div class="input-group">
            <input type="hidden" value="{{tenantedUrl searchUrl}}" id="searchUrl">
            <input type="text" id="searchTxt" value="{{searchQuery.search}}" class="search-field form-control"
                   placeholder="Search for apps" />

            <div class="input-group-btn">

                <button type="button" id="searchSelect" class="btn dropdown-toggle search-by" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"
                        {{#ifCond searchQuery.searchTerm "==" "overview_provider"}}
                        value="Provider"
                        {{else}}
                        value="Name"
                        {{/ifCond}}>
                    {{#ifCond searchQuery.searchTerm "==" "overview_provider"}}
                        By Provider
                    {{else}}
                        By Name
                    {{/ifCond}}
                    <span class="caret"></span>
                </button>

                <ul id="searchBy" class="dropdown-menu dropdown-menu-right dropdown-selectable search-by-dropdown"
                    data-target="#searchSelect">
                    <li data-value="Provider"><a>By Provider</a></li>
                    <li data-value="Name"><a>By Name</a></li>
                </ul>
                <button type="button" class="btn" id="searchBtn">
                    <i class="fw fw-search"></i>
                </button>

            </div>
        </div>
    </div>
</nav>