<div class="navbar-wrapper">
    <nav class="navbar navbar-default">
        <div class="form-group">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="search-box input-group">
                    <input id="searchTxt" type="text" value="{{search}}" class="search-field form-control"
                           placeholder="Search..." />

                    <div class="input-group-btn">
                        <button class="search-btn form-control-btn" type="button" title="Search">
                            <i class="fw fw-search" aria-hidden="true"></i>
                        </button>
                    </div>
                    <span class="search-category input-group-addon">
                        <select id="searchSelect">
                            <option {{#compare "overview_name" searchQuery.searchTerm}}selected{{/compare}}
                                    value="App">Name
                            </option>
                            <option {{#compare "overview_provider" searchQuery.searchTerm}}selected{{/compare}}
                                    value="Provider">Provider
                            </option>
                            <option {{#compare "overview_category" searchQuery.searchTerm}}selected{{/compare}}
                                    value="Category">Category
                            </option>
                            <option {{#compare "overview_platform" searchQuery.searchTerm}}selected{{/compare}}
                                    value="Category">Platform
                            </option>
                        </select>
                    </span>
                    <span class="search-category input-group-addon">
                        <select id="category-select" title='Choose a Category'>
                            {{#each categories}}
                                <option {{#compare ../selectedCategory this}}selected{{/compare}}>{{this}}</option>
                            {{/each}}
                        </select>
                    </span>
                    <span class="search-category input-group-addon">
                    <select id="platform-select">
                        <option value="android" {{#compare selectedPlatform "android"}}selected{{/compare}}>Android</option>
                        <option value="ios" {{#compare selectedPlatform "ios"}}selected{{/compare}}>iOS</option>
                        <option value="webapp" {{#compare selectedPlatform "webapp"}}selected{{/compare}}>Web App</option>
                    </select>
                    </span>

                </div>
            </div>
        </div>
    </nav>
</div>