{{!-- search --}}
<div class="navbar-wrapper navbar-search">

    <nav class="navbar navbar-default"  data-offset-top="80" data-offset-bottom="40">
        <a class="navbar-menu-toggle hidden-sm hidden-lg hidden-md" data-toggle="sidebar"
           data-target="#left-sidebar"
           data-container=".page-content-wrapper" data-container-push="true" aria-expanded="false"
           rel="leftmenu-sidebar">
            <span class="icon fw-stack">
                <i class="fw fw-menu fw-stack-1x toggle-icon-left-arrow"></i>
            </span>
        </a>

        <div class="search-box col-xs-10 col-sm-12 col-md-12 col-lg-6">
            <div class="input-group input-wrap search-wrap">
                <input type="hidden" value="{{tenantedUrl searchUrl}}" id="searchUrl">
                <input type="text" id="searchTxt" value="{{searchQuery.search}}" class="search-field form-control"
                       placeholder="Search for apps" />

                <div class="input-group-btn">
                    <button type="button" class="btn search-by" data-toggle="collapse"
                            data-target="#searchPane">
                        {{#compare "overview_platform" searchQuery.searchTerm}}By Platform{{/compare}}
                        {{#compare "overview_category" searchQuery.searchTerm}}By Category{{/compare}}
                        {{#compare "overview_provider" searchQuery.searchTerm}}By Provider{{/compare}}
                        {{#compare "overview_name" searchQuery.searchTerm}}By Name{{/compare}}
                        <span class="caret"></span>
                    </button>
                    <button type="button" class="btn" id="searchBtn">
                        <i class="fw fw-search"></i>
                    </button>
                </div>
            </div>
            <div id="searchPane" class="search-options collapse col-xs-9 col-sm-6 col-md-6 col-lg-6">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" value="Name"
                                           {{#compare "overview_name" searchQuery.searchTerm}}checked{{/compare}} />
                                    By Name
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" value="Provider"
                                           {{#compare "overview_provider" searchQuery.searchTerm}}checked{{/compare}} />
                                    By Provider
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 remove-padding-right float-remove-xs">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" value="Category"
                                           {{#compare "overview_category" searchQuery.searchTerm}}checked{{/compare}} />
                                    By Category
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 add-padding-left-2x float-remove-xs">
                            <select id="category-select" class="form-control" title="Choose a category">
                                {{#each categories}}
                                    <option {{#compare ../selectedCategory this}}selected{{/compare}}>{{this}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 remove-padding-right float-remove-xs">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" value="Platform"
                                           {{#compare "overview_platform" searchQuery.searchTerm}}checked{{/compare}} />
                                    By Platform
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 add-padding-left-2x float-remove-xs">
                            <select id="platform-select" class="form-control">
                                <option value="android" {{#compare selectedPlatform "android"}}selected{{/compare}}>
                                    Android
                                </option>
                                <option value="ios" {{#compare selectedPlatform "ios"}}selected{{/compare}}>
                                    iOS
                                </option>
                                <option value="webapp" {{#compare selectedPlatform "webapp"}}selected{{/compare}}>
                                    Web App
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /input-group -->
        </div>

    </nav>
</div>
