<div class="raw">

    <div class="col-md-2 app-asset-wrapper">
        <div class="app-asset">
            <a href="/">
            <img class="app-asset-icon"
                 src="https://localhost:9443/store/storage/webapp/b016bcfe-8399-418d-a6b8-a9a5879e2411/a61a8c56-575d-474d-ac35-63bb194192db/Xov25r4ja5OIAqD.jpg">
            </a>
            <div class="app-asset-info">
                <div class="app-asset-name">
                    Testing App
                </div>
                <div class="app-asset-provider">
                    admin
                </div>
            </div>

            <div class="app-asset-icon-info">
                <img class="app-asset-icon-info-platform" src="http://icons.iconarchive.com/icons/igh0zt/ios7-style-metro-ui/512/MetroUI-Folder-OS-OS-Android-icon.png">
                <img class="app-asset-icon-info-platform" src="http://icons.iconarchive.com/icons/igh0zt/ios7-style-metro-ui/512/MetroUI-Folder-OS-OS-Android-icon.png">
            </div>

            <span class="app-asset-rating"> </span>
        </div>
    </div>


    <div class="col-md-2 app-asset-wrapper">
        <div class="app-asset">
            <img class="app-asset-icon"
                 src="https://localhost:9443/store/storage/webapp/b016bcfe-8399-418d-a6b8-a9a5879e2411/a61a8c56-575d-474d-ac35-63bb194192db/Xov25r4ja5OIAqD.jpg">
            <div class="app-asset-name">
                Testing App
            </div>
            <div class="app-asset-provider">
                admin
            </div>
            <span class="app-asset-rating"> </span>
        </div>
    </div>

    <div class="col-md-2 app-asset-wrapper">
        <div class="app-asset">
            <img class="app-asset-icon"
                 src="https://localhost:9443/store/storage/webapp/b016bcfe-8399-418d-a6b8-a9a5879e2411/a61a8c56-575d-474d-ac35-63bb194192db/Xov25r4ja5OIAqD.jpg">
            <div class="app-asset-name">
                Testing App
            </div>
            <div class="app-asset-provider">
                admin
            </div>
            <span class="app-asset-rating"> </span>
        </div>
    </div>

    <div class="col-md-2 app-asset-wrapper">
        <div class="app-asset">
            <img class="app-asset-icon"
                 src="https://localhost:9443/store/storage/webapp/b016bcfe-8399-418d-a6b8-a9a5879e2411/a61a8c56-575d-474d-ac35-63bb194192db/Xov25r4ja5OIAqD.jpg">
            <div class="app-asset-name">
                Testing App
            </div>
            <div class="app-asset-provider">
                admin
            </div>
            <span class="app-asset-rating"> </span>
        </div>
    </div>

    <div class="col-md-2 app-asset-wrapper">
        <div class="app-asset">
            <img class="app-asset-icon"
                 src="https://localhost:9443/store/storage/webapp/b016bcfe-8399-418d-a6b8-a9a5879e2411/a61a8c56-575d-474d-ac35-63bb194192db/Xov25r4ja5OIAqD.jpg">
            <div class="app-asset-name">
                Testing App
            </div>
            <div class="app-asset-provider">
                admin
            </div>
            <span class="app-asset-rating"> </span>
        </div>
    </div>

    <div class="col-md-2 app-asset-wrapper">
        <div class="app-asset">
            <img class="app-asset-icon"
                 src="https://localhost:9443/store/storage/webapp/b016bcfe-8399-418d-a6b8-a9a5879e2411/a61a8c56-575d-474d-ac35-63bb194192db/Xov25r4ja5OIAqD.jpg">
            <div class="app-asset-name">
                Testing App
            </div>
            <div class="app-asset-provider">
                admin
            </div>
            <span class="app-asset-rating"> </span>
        </div>
    </div>

    <div class="col-md-2 app-asset-wrapper">
        <div class="app-asset">
            <img class="app-asset-icon"
                 src="https://localhost:9443/store/storage/webapp/b016bcfe-8399-418d-a6b8-a9a5879e2411/a61a8c56-575d-474d-ac35-63bb194192db/Xov25r4ja5OIAqD.jpg">
            <div class="app-asset-name">
                Testing App
            </div>
            <div class="app-asset-provider">
                admin
            </div>
            <span class="app-asset-rating"> </span>
        </div>
    </div>

    <div class="col-md-2 app-asset-wrapper">
        <div class="app-asset">
            <img class="app-asset-icon"
                 src="https://localhost:9443/store/storage/webapp/b016bcfe-8399-418d-a6b8-a9a5879e2411/a61a8c56-575d-474d-ac35-63bb194192db/Xov25r4ja5OIAqD.jpg">
            <div class="app-asset-name">
                Testing App
            </div>
            <div class="app-asset-provider">
                admin
            </div>
            <span class="app-asset-rating"> </span>
        </div>
    </div>

    <div class="col-md-2 app-asset-wrapper">
        <div class="app-asset">
            <img class="app-asset-icon"
                 src="https://localhost:9443/store/storage/webapp/b016bcfe-8399-418d-a6b8-a9a5879e2411/a61a8c56-575d-474d-ac35-63bb194192db/Xov25r4ja5OIAqD.jpg">
            <div class="app-asset-name">
                Testing App
            </div>
            <div class="app-asset-provider">
                admin
            </div>
            <span class="app-asset-rating"> </span>
        </div>
    </div>
</div>
