{{#if user}}
{{#if subscription}}


<div class="row">
    <h3>My {{title}}</h3>
    <hr>


	{{#slice subscriptions count="20" size="20"}}
		{{#each .}}
            <div class="row">
                <div class="col-md-9">
                    <div class="recent-app-assets-name">{{attributes.overview_displayName}}</div>
                    <div class="recent-app-asset-provider">{{attributes.overview_provider}}</div>
                    <span class="recent-app-assets-rating"> </span>
                </div>
                <div class="col-md-3">
                    <img class="col-md-12" src="{{#if attributes.images_thumbnail}}{{attributes.images_thumbnail}}{{/if}}">
                </div>
            </div>

            <hr>
		{{/each}}
	{{/slice}}


</div>




{{/if}}
{{/if}}
